.dropdown-toggle::after {
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
}

.dropdown.avatar .dropdown-toggle::after {
    display: none;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand {
        img {
            height: 35px;
        }
    }
    .navbar-toggler {
        span.navbar-toggler-bar {
            background: black;
        }
    }
    .navbar-nav li {
        padding: 16px 0;
        border-top: 4px solid transparent;
    }
    .navbar-nav li.active {
        border-top: 4px solid #7df8f8;
    }
}

.navbar a:not(.btn):not(.dropdown-item) {
    color: black;
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        &::before {
            background: white;
        }
        .navbar-nav {
            .nav-item {
                a,
                h3 {
                    color: black;
                }
                .dropdown {
                    .dropdown-menu {
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .navbar {
        .navbar-nav li {
            padding: 0;
            a {
                padding: 6px 0;
            }
        }
    }
}
