<nav class="navbar navbar-expand-lg bg-light fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container-fluid">

        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
                <img class="n-logo" src="assets/imgs/logos/logo.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
                (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto text-uppercase">

                <li class="nav-item py-1 py-md-3" [class.active]="path === '/about'">
                    <a class="nav-link" href="#">
                        <h3 class="m-0 font-weight-bold"> About </h3>
                        <div class="subtract text-center rounded-circle"></div>
                    </a>
                </li>

                <li class="nav-item py-1 py-md-3">
                    <div ngbDropdown class="dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" ngbDropdownToggle>
                            <h3 class="m-0 font-weight-bold">
                                Applications
                            </h3>
                            <div class="subtract text-center rounded-circle"></div>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <div class="row mb-3 d-none d-md-flex">
                                <div class="col-12 col-md-4 my-3 white-region">
                                    <h4 class="text-center mb-0">
                                        Golden line
                                    </h4>
                                    <div class="text-center">
                                        <img src="assets/imgs/logos/golden-line-logo.svg">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a [routerLink]="['/']"
                                            class="blueBtn btn btn-primary btn-lg text-uppercase font-weight-bolder">
                                            Play
                                        </a>
                                    </div>
                                </div>
            
                                <div class="col-12 col-md-4 my-3 white-region">
                                    <h4 class="text-center mb-0">
                                        Crypto line
                                    </h4>
                                    <div class="text-center">
                                        <img src="assets/imgs/logos/crypto-line-logo.svg">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a [routerLink]="['/']"
                                            class="blueBtn btn btn-primary btn-lg text-uppercase font-weight-bolder">
                                            Play
                                        </a>
                                    </div>
                                </div>
            
                                <div class="col-12 col-md-4 my-3">
                                    <h4 class="text-center mb-0">
                                        Battle line
                                    </h4>
                                    <div class="text-center">
                                        <img src="assets/imgs/logos/battle-line-logo.svg">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a [routerLink]="['/']"
                                            class="transBtn btn btn-primary btn-lg text-uppercase font-weight-bolder text-dark">
                                            Comming soon
                                        </a>
                                    </div>
                                </div>
            
                                <div class="col-12 col-md-4 my-3">
                                    <h4 class="text-center mb-0">
                                        Crypto Battle
                                    </h4>
                                    <div class="text-center">
                                        <img src="assets/imgs/logos/crypto-battle-logo.svg">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a [routerLink]="['/']"
                                            class="transBtn btn btn-primary btn-lg text-uppercase font-weight-bolder text-dark">
                                            Comming soon
                                        </a>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 my-3">
                                    <h4 class="text-center mb-0">
                                        Deblex
                                    </h4>
                                    <div class="text-center">
                                        <img src="assets/imgs/logos/crypto-battle-logo.svg">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a [routerLink]="['/']"
                                            class="transBtn btn btn-primary btn-lg text-uppercase font-weight-bolder text-dark">
                                            Comming soon
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="nav-item py-1 py-md-3" [class.active]="path === '/news'">
                    <a class="nav-link" href="/news">
                        <h3 class="m-0 font-weight-bold"> News </h3>
                        <div class="subtract text-center rounded-circle"></div>
                    </a>
                </li>

                <li class="nav-item py-1 py-md-3" [class.active]="path === '/#'">
                    <a class="nav-link" href="#">
                        <h3 class="m-0 font-weight-bold"> Partnership </h3>
                        <div class="subtract text-center rounded-circle"></div>
                    </a>
                </li>

                <li class="nav-item py-1 py-md-3" [class.active]="path === '/#'">
                    <a class="nav-link" href="#">
                        <h3 class="m-0 font-weight-bold"> Developers </h3>
                        <div class="subtract text-center rounded-circle"></div>
                    </a>
                </li>

                <li class="nav-item py-1 py-md-3" [class.active]="path === '/contacts'">
                    <a class="nav-link" href="/contacts">
                        <h3 class="m-0 font-weight-bold"> Contact us </h3>
                        <div class="subtract text-center rounded-circle"></div>
                    </a>
                </li>

                <li class="nav-item py-1 py-md-3 d-flex align-items-center">
                    <a class="nav-link" href="javascript: void(0)">
                        <img src="assets/imgs/subtract.svg" alt="">
                    </a>
                </li>

                <li class="nav-item py-1 py-md-3">
                    <a class="nav-link" href="javascript: void(0)" (click)="openAuthModal()">
                        <img src="assets/imgs/union.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>