<div class="modal-container my-4 my-md-5">
    <div class="modal-header">
        <div class="top-circle ml-3">
            <img src="assets/imgs/modal-top-circle.svg">
        </div>
        <h4 class="modal-title" id="modal-title"> </h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0 p-3 p-md-5">
        <h3 class="mb-2 text-center">
            Hang on a second!
        </h3>
        <h5 class="text-center">
            Your {{ type }} is travelling safely now!
        </h5>
        <div class="rotate d-flex align-items-center justify-content-center">
            <div class="main">
                <div class="mars-rotating">
                    <img src="assets/imgs/Mars.svg">
                </div>
                <img class="rocket" src="assets/imgs/Rocket.png">
            </div>
        </div>
    </div>
    <div class="modal-footer p-0">
        <div class="bottom-circle m-0 w-100">
            <img src="assets/imgs/modal-bottom-circle.svg" class="mr-4">
        </div>
    </div>
</div>