.modal-container {
    background: #f4f4f4;
    border-radius: 12px;
    position: relative;
    .modal-header {
        height: 0;
        padding: 0;
        button.close {
            position: absolute;
            right: -14px;
            top: -20px;
            z-index: 3;
            color: white;
            border-radius: 50%;
            border: 1px solid gray;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                color: gray;
            }
        }
    }
    .modal-body {
        .rotate {
            .main {
                position: relative;
                background-color: transparent;
                border-radius: 10px;
                border-width: 2px;
                display: grid;
                justify-content: center;
                align-content: center;
                .mars-rotating {
                    align-self: center;
                    justify-self: center;
                    animation: 5s rotate360 infinite linear;
                }
    
                .rocket {
                    width: 100px;
                    height: 100px;
                    animation: spinAround 6s linear infinite;
                }
            }

            .main > * {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
    .modal-footer {
        .bottom-circle {
            position: absolute;
            bottom: 0;
            right: 0;
            img {
                float: right;
            }
        }
    }
}

// Mars infinite 360 degree rotate css animation
@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

// Rocket infinite 360 degree rotate around Mars css animation

@keyframes spinAround {
    from {
        transform: rotate(0deg) translate(48px);
    }
    to {
        transform: rotate(-360deg) translate(48px);
    }
}

@media screen and (max-width: 991px) {
    .modal-container {
        width: calc(100vw - 18px);
        .modal-header {
            button.close {
                width: 32px;
                height: 32px;
                position: relative;
                font-size: 32px;
                top: 24px;
                right: 24px;
                color: black;
                border: 2px solid black;
            }
        }
        .modal-body {
        }
    }
}
