.statement {
    background-color: #f2f2f2;
    .path {
        h2 {
            font-size: 1.714em;
        }
        i {
            font-size: 6px;
        }
    }

    // table filter and search section
    .table-operation {
        // filter section
        .filter {
            .dropdown-toggle::after {
                display: none;
            }

            .dropdown.avatar .dropdown-toggle::after {
                display: none;
            }

            .dropdown {
                .dropdown-toggle {
                    cursor: pointer;
                    a p {
                        font-size: 1.143em;
                    }
                }
                .dropdown-menu {
                    width: 617px;
                    max-width: calc(100vw - 30px);
                    right: 0;
                    transform: translate(0px, 32px) !important;
                    &::before {
                        top: -11px;
                        left: unset;
                        right: 28px;
                        border-bottom: 1em solid;
                        border-right: 1em solid transparent;
                        border-left: 1em solid transparent;
                    }
                    a.blueBtn {
                        background: linear-gradient(180deg, #1264ad, #48c6c9);
                        border-radius: 6px;
                        font-size: 1.143em;
                    }
                    a.transBtn {
                        background: transparent;
                        border-radius: 6px;
                        font-size: 1.143em;
                        border: 1px solid #a0a0a0;
                        color: #a0a0a0 !important;
                    }
                }
            }
            a:not(.btn):not(.dropdown-item) {
                color: black;
            }
        }
        // search section
        .search {
            .input-group {
                border-radius: 6px;
                border: 1px solid gray;
                input.form-control {
                    &:focus {
                        background-color: transparent;
                    }
                    &::placeholder {
                        color: black;
                        font-size: 1.143em;
                        line-height: 1.8em;
                    }
                }
                .input-group-append {
                    .input-group-text {
                        border-radius: 0;
                        background-color: transparent;
                        border-right: 0 !important;
                    }
                }
            }
        }
    }

    .statement-table {
        table.mat-table {
            width: 100%;
            box-shadow: none;
            background-color: transparent;
            thead {
                background-color: #f2f2f2;
                tr.mat-header-row {
                    background-color: transparent;
                    th {
                        border: 0;
                    }
                }
            }
            tbody {
                box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%),
                    0px 3px 14px 2px rgb(0 0 0 / 12%);
                border-radius: 12px;
                tr {
                    td {
                        background: transparent;
                        border: 0;
                        width: 12%;
                    }
                }
                tr:not(:last-child) td {
                    background: transparent;
                    background-image: linear-gradient(to right, #000 10%, rgba(255, 255, 255, 0) 0%);
                    background-position: bottom;
                    background-size: 11px 1px;
                    background-repeat: repeat-x;
                }

                .mat-column-groupHeader {
                    background-image: none !important;
                }

                .mat-column-activity.deposit {
                    color: #1264AD;
                }
                .mat-column-activity.prize-payout {
                    color: #1264AD;
                }
                .mat-column-activity.withdraw {
                    color: #F8007A;
                }
                .mat-column-activity.participation-fee {
                    color: #F8007A;
                }

                .mat-column-amountAndCurrency {
                    .amount {
                        width: 50px;
                        float: left;
                        span {
                            float: right;
                        }
                    }
                }

                .mat-column-status {
                    color: #48C6C9;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .statement {
        .table-operation {
            .filter {
                .dropdown {
                    .dropdown-menu {
                        right: unset;
                        left: 0;
                        &::before {
                            left: 28px;
                        }
                    }
                }
            }
        }
    }
}
