<div class="modal-container my-4 my-md-0">
    <div class="modal-header">
        <div class="top-circle ml-3">
            <img src="assets/imgs/modal-top-circle.svg">
        </div>
        <h4 class="modal-title" id="modal-title"> </h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="row m-0">
            <div class="col-12 p-3 p-md-5">
                <h3 class="m-0 mb-3">
                    Done!
                </h3>
                <p>
                    Your two factor authentication is enabled. <br>
                    You can always turn it off in your profile settings page.
                </p>

                <a class="blueBtn btn btn-primary text-uppercase" (click)="activeModal.close(false)">
                    Ok!
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer p-0">
        <div class="bottom-circle m-0 w-100">
            <img src="assets/imgs/modal-bottom-circle.svg" class="mr-4">
        </div>
    </div>
</div>