<div class="footer-bottom">
    <div class="dark-container py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h5 class="title">
                        Our applications
                    </h5>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Golden line
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Crypto line
                        </p>
                    </a>
                    <a href="#">
                        <p class="active">
                            Battle Line (coming soon)
                        </p>
                    </a>
                    <a href="#">
                        <p class="active">
                            Crypto Battle (coming soon)
                        </p>
                    </a>
                </div>
    
                <div class="col-12 col-md-4">
                    <h5 class="title">
                        About
                    </h5>
                    <a href="#">
                        <p class="active font-weight-bold">
                            About VOTERY
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Company news
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Partnership
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Developers
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Contact Us
                        </p>
                    </a>
                </div>
    
                <div class="col-12 col-md-4">
                    <h5 class="title">
                        Usefull info
                    </h5>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Help & Support
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Voting restuls
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Tems & Conditions
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Privacy Policy
                        </p>
                    </a>
                    <a href="#">
                        <p class="active font-weight-bold">
                            Cookie Policy
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="dark-bottom-divider">
        <img src="assets/imgs/bgs/footer-dark-bottom.svg" class="w-100">
    </div>


    <div class="payments bg-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 d-block d-md-flex align-items-center justify-content-center mb-4 px-0">
                    <img src="assets/imgs/footer-icons/visa.svg" class="mx-3 my-2">
                    <img src="assets/imgs/footer-icons/maestro.svg" class="mx-3 my-2">
                    <img src="assets/imgs/footer-icons/mastercard.svg" class="mx-3 my-2">
                    <img src="assets/imgs/footer-icons/paypal.svg" class="mx-3 my-2">
                    <img src="assets/imgs/footer-icons/paysera.svg" class="mx-3 my-2">
                    <img src="assets/imgs/footer-icons/bitcoin.svg" class="mx-3 my-2">
                    <img src="assets/imgs/footer-icons/ethereum.svg" class="mx-3 my-2">
                </div>

                <div class="col-12 d-flex align-items-center justify-content-center my-5">
                    <img src="assets/imgs/footer-icons/footer-subtract.svg">
                </div>

                <div class="col-12 mt-4">
                    <p class="text-center">
                        Copyright © 2021 ESD GLOBALCOLLECT LIMITED
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>