.modal-container {
    background: #f4f4f4;
    border-radius: 12px;
    position: relative;
    .modal-header {
        height: 0;
        padding: 0;
        button.close {
            position: absolute;
            right: -14px;
            top: -20px;
            z-index: 3;
            color: white;
            border-radius: 50%;
            border: 1px solid gray;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                color: gray;
            }
        }
    }
    .modal-body {
        h3 {
            font-size: 24px !important;
            font-weight: 450 !important;
        }
        .shadawBody {
            background: #FFFFFF;
            box-shadow: 0px 12px 55px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            .requiredField {
                position: relative;
                z-index: 0;
                &::before {
                    content: " ";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #F8007A;
                    top: 5px;
                    right: 5px;
                }
                input {
                    border-radius: 6px;
                    height: 50px;
                    font-size: 16px;
                    border: 0;
                    box-shadow: 3px 2px 12px 2px #b0b0b0;
                    background-color: white;
                    &::placeholder {
                        font-size: 16px;
                        color: rgba($color: #000000, $alpha: .5);
                    }
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                input[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }
        .bottomSection {
            .address {
                font-size: 18px !important;
                font-weight: 450 !important;
                img {
                    cursor: pointer;
                }
            }
        }
        a.orangeBtn {
            background: linear-gradient(180deg, #E30E00 0%, #FF8A00 100%);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
        }
        .lightBold {
            font-weight: 450 !important;
        }
        .grayColor {
            color: #838383;
            a {
                color: #1264ad;
            }
        }
    }
    .modal-footer {
        .bottom-circle {
            position: absolute;
            bottom: 0;
            right: 0;
            img {
                float: right;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .modal-container {
        width: calc(100vw - 18px);
        .modal-header {
            button.close {
                width: 32px;
                height: 32px;
                position: relative;
                font-size: 32px;
                top: 24px;
                right: 24px;
                color: black;
                border: 2px solid black;
            }
        }
    }
}