<div class="news py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h2>
                    Company news
                </h2>
            </div>
        </div>

        <div class="row news-row">
            <div class="col-12 col-md-4 new-article my-3" *ngFor="let new of news" (click)="detail(new)">
                <img [src]="new.image" class="w-100">
                <h4 class="my-2">
                    {{ new.title }}
                </h4>
                <p class="text-justify">
                    {{ new.description }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <a [routerLink]="['/']" class="loadmoreBtn btn text-uppercase font-weight-bolder text-dark">
                    Load more
                </a>
            </div>
        </div>
    </div>
</div>