<div class="modal-container my-4 my-md-5">
    <div class="modal-header">
        <div class="top-circle ml-3">
            <img src="assets/imgs/modal-top-circle.svg">
        </div>
        <h4 class="modal-title" id="modal-title"> </h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0 py-3 py-md-5">
        <h3 class="px-3 px-md-5 mb-3 d-flex align-items-center">
            <img src="assets/imgs/currencies/deposit.svg" class="mr-2">
            Deposit
        </h3>
        <div>
            <mat-tab-group animationDuration="0ms" [selectedIndex]="depositTabIndex" (selectedIndexChange)="selectChange($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="text-uppercase d-flex align-items-center justify-content-center">
                            <img [src]="depositTabIndex === 0 ? 'assets/imgs/currencies/VOC.svg' : 'assets/imgs/currencies/VOC-inactive.svg'">
                            <span class="font-weight-bold ml-2">
                                VOC
                            </span>
                        </div>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="deposit-body px-3 pl-md-5 pr-md-4 pt-5">
                            <div class="text-center">
                                <h5>
                                    Scan the QR code to make <img src="assets/imgs/footer-icons/vcoin.svg" class="cryptoIcon"> VOC deposit
                                </h5>
                                <img src="assets/imgs/deposit/QR.png" class="qrCode">
                            </div>
                            <div class="text-right">
                                <img src="assets/imgs/subtract/overlapped-subtract.svg">
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="text-uppercase d-flex align-items-center justify-content-center">
                            <img [src]="depositTabIndex === 1 ? 'assets/imgs/currencies/USDT.svg' : 'assets/imgs/currencies/USDT-inactive.svg'">
                            <span class="font-weight-bold ml-2">
                                USDT
                            </span>
                        </div>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="deposit-body px-3 pl-md-5 pr-md-4 pt-5">
                            <div class="text-center">
                                <h5>
                                    Scan the QR code to make <img src="assets/imgs/footer-icons/tcoin.svg" class="cryptoIcon"> USDT deposit
                                </h5>
                                <img src="assets/imgs/deposit/QR.png" class="qrCode">
                            </div>

                            <div class="text-right">
                                <img src="assets/imgs/subtract/overlapped-subtract.svg">
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="text-uppercase d-flex align-items-center justify-content-center">
                            <img [src]="depositTabIndex === 2 ? 'assets/imgs/icons/exchange.svg' : 'assets/imgs/icons/exchange-inactive.svg'">
                            <span class="font-weight-bold ml-2">
                                Exchange USDT to VOC
                            </span>
                        </div>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="deposit-body exchangeTab px-3 pl-md-5 pr-md-4 pt-5">
                            <span>
                                Your current balance
                            </span>
                            <div class="halfSection d-flex align-items-center justify-content-between">
                                <h5 class="d-flex align-items-center">
                                    <span class="lightBold">5.44</span>
                                    <img src="assets/imgs/footer-icons/tcoin.svg" class="mx-1">
                                    <span>USDT</span>
                                </h5>
                                <h5 class="d-flex align-items-center">
                                    <span class="lightBold">22.5006</span>
                                    <img src="assets/imgs/footer-icons/vcoin.svg" class="mx-1">
                                    <span>VOC</span>
                                </h5>
                            </div>
                            <div class="halfSection d-flex align-items-center justify-content-between mb-2">
                                <div class="amountSection d-flex align-items-center">
                                    <img src="assets/imgs/footer-icons/tcoin.svg" class="mr-2">
                                    <p class="m-0 lightBold"> 1.000 </p>
                                </div>
                                <img src="assets/imgs/icons/exchange.svg" class="cButton">
                                <div class="amountSection d-flex align-items-center">
                                    <img src="assets/imgs/footer-icons/vcoin.svg" class="mr-2">
                                    <p class="m-0 lightBold"> 5.000 </p>
                                </div>
                            </div>

                            <div class="d-block d-flex align-items-center">
                                <div class="halfSection d-flex align-items-center justify-content-between">
                                    <span class="mr-3"> Enter the amount of USDT you wish to exhange </span>
                                    <span class="ml-3"> This is how much VOC you will receive </span>
                                </div>
                                <div class="halfSection d-flex align-items-center justify-content-end">
                                    <div class="text-right">
                                        <span> Current exchange rate: </span>
                                        <p class="m-0 lightBold d-flex align-items-center"> 1 <img src="assets/imgs/footer-icons/vcoin.svg" class="mx-2"> VOC - 0.20 <img src="assets/imgs/footer-icons/tcoin.svg" class="mx-2"> USDT </p>
                                    </div>
                                </div>
                            </div>

                            <div class="text-right">
                                <img src="assets/imgs/subtract/overlapped-subtract.svg">
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="px-3 px-md-5 pt-4 bottomSection">
            <div *ngIf="depositTabIndex < 2" class="d-block d-sm-flex align-items-center justify-content-between">
                <div>
                    <span> Wallet address </span>
                    <h5 class="address m-0">
                        0x76A324jk324DF768a678sh78T67c908
                        <img src="assets/imgs/icons/copy.svg">
                    </h5>
                </div>
                <div>
                    <span> Network type </span>
                    <h5 class="address m-0"> XYZ-20 </h5>
                </div>
            </div>
            <a class="blueBtn btn text-uppercase font-weight-bolder my-1 mr-0 mr-md-3" *ngIf="depositTabIndex >= 2" (click)="accept()">
                Accept
            </a>
        </div>
    </div>
    <div class="modal-footer p-0">
        <div class="bottom-circle m-0 w-100">
            <img src="assets/imgs/modal-bottom-circle.svg" class="mr-4">
        </div>
    </div>
</div>