.modal-container {
    background-color: #f4f4f4;
    max-height: calc(100vh - 96px);
    border-radius: 12px;
    position: relative;
    .modal-header {
        height: 0;
        padding: 0;
        button.close {
            position: absolute;
            right: -18px;
            top: -24px;
            z-index: 3;
            color: white;
            border-radius: 50%;
            border: 2px solid white;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .modal-body {
        max-height: calc(100vh - 192px);
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-track {
            background: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
            background-color: orange;
            border-radius: 20px;
            border: 3px solid #f5f5f5;
        }
    }
    .modal-footer {
        .bottom-circle {
            position: absolute;
            bottom: 0;
            right: 0;
            img {
                float: right;
            }
        }
    }
}

@media screen and (max-width: 928px) {
    .modal-container {
        width: calc(100% - 18px);
        .modal-header {
            button.close {
                width: 32px;
                height: 32px;
                position: relative;
                font-size: 32px;
                top: -22px;
                right: 24px;
                color: black;
                border: 2px solid black;
            }
        }
    }
}
