<div class="modal-container">
    <div class="modal-header">
        <div class="top-circle ml-3">
            <img src="assets/imgs/modal-top-circle.svg">
        </div>
        <h4 class="modal-title" id="modal-title"> </h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0 mx-3 mx-md-5 my-5">
        <div class="row m-0">
            <div class="col-12">
                <h3 class="m-0 mb-4">
                    Terms & Conditions
                </h3>
                <p class="text-justify">
                    This Subscriber Agreement and Terms of Use (this "Agreement") governs your use of the Financial News
                    online service and other services available at www.fnlondon.com, any mobile application(s), and hard
                    copy publication of Financial News, and unless other terms and conditions expressly govern, any other
                    service (electronic or otherwise) from Financial News that may be made available from time to time
                    (together the "Service"). These products and services are provided either directly by eFinancial News
                    Limited and its subsidiaries ("we", "us", "our") or through various third party platforms and devices
                    (e.g., mobile and tablet).
                </p>
    
                <p class="text-justify">
                    <span class="font-weight-bold">1. Changes to Subscriber Agreement.</span> This Agreement replaces all
                    previous terms and conditions for the
                    Service. We may change the terms of this Agreement at any time for legal or regulatory reasons, or in
                    accordance with changes to our business practices or our services. We will notify you of the change in
                    writing or electronically (including without limitation, by email or by posting a notice on the Service
                    that the terms have been "updated" or similar words). The changes also will appear in this document,
                    which you can access at any time by going to the Subscriber Agreement and Terms of Use link at the
                    footer of the Service which is made available through a website or to the Legal or Legal Notices area of
                    the Service which is made available as an application. By using the Service after changes are made to
                    this Agreement you signify that you agree to be bound by such changes. If you are a subscriber, any
                    changes to this Agreement will become effective from the date of your next payment following the change
                    unless we notify you otherwise. If you are not a subscriber, any changes will become effective as soon
                    as we post them on www.fnlondon.com.
                </p>
    
                <p class="text-justify">
                    <span class="font-weight-bold">2. Privacy and Your Account.</span> Registration data and other
                    information about you are subject to our
                    Privacy Policy. Your information may be stored and processed in the United Kingdom or any other country
                    where we have facilities, and by using the Service online, you consent to the transfer of information
                    outside of your country. If your access to the Service has been provided by or through a third party
                    (for example, your employer) (each, a "Third Party"), the Third Party may have provided us with
                    information about you to enable us to provide you with access to the Service and distinguish you from
                    other subscribers (such as your email address or name). If you access the Service using a password, you
                    are solely responsible for maintaining the confidentiality of that password. If you provide someone else
                    with access to your password to the Service, they will have the ability to view information about your
                    account and make changes through the website for the Service. Similarly, if you tell someone the answer
                    to your security question for the Service, they will be able to request information about your account
                    and make changes through Customer Service. You agree to notify us promptly if you change your billing
                    and delivery addresses and email address so we can continue to contact you and send any notices required
                    hereunder. If you fail to notify us promptly of a change, then any notice we send to your old address
                    shall be deemed sufficient notice.
                </p>
    
                <p class="text-justify">
                    <span class="font-weight-bold">3. Fees and Payments.</span> The subscription price will be made clear to
                    you on our sign-up pages or otherwise
                    during the sign-up process and may vary from time to time. You agree to pay the subscription fees and
                    all applicable taxes or duties payable in respect of this Agreement. Depending on the type of
                    subscription that is available at the time of subscription, you may be billed on a monthly, quarterly,
                    or annual basis. We will bill all charges automatically to your credit card. We may change the fees and
                    charges then in effect, or add new fees or charges, by giving you notice in advance and an opportunity
                    to cancel. If you want to use a different credit card or you need to update your credit card details,
                    please contact our Customer Service at +44 (0) 20 3426 1314 or by email at customerservices@fnlondon.com
                    to make changes. If you believe someone has accessed the Service using your user name and password
                    without your authorisation, please immediately notify us by calling Customer Service at +44 (0)20 3426
                    1314 or by email at customerservices@fnlondon.com. You are responsible for any fees or charges incurred
                    to access a Service through an Internet access provider or other Third Party service. In addition to the
                    subscription fee you must pay, certain banks and credit card issuers will charge a foreign transaction
                    fee on transactions which occur abroad or in foreign currency. The majority of payments for
                    subscriptions we take by credit card are processed in the United Kingdom. Please check with your bank or
                    credit card issuer to find out whether such charges apply to you. eFinancial News Limited is not
                    responsible for any such charges.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer p-0">
        <div class="bottom-circle m-0 w-100">
            <img src="assets/imgs/modal-bottom-circle.svg" class="mr-4">
        </div>
    </div>
</div>