<div class="contacts">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-12">
                <h2>
                    Contacts
                </h2>
            </div>
        </div>

        <div class="row contacts-info">
            <div class="col-12 col-md-5">
                <div class="d-flex align-items-center my-3">
                    <div class="media-icon rounded-circle mr-3 d-flex align-items-center justify-content-center">
                        <img src="assets/imgs/icons/phone.svg">
                    </div>
                    <h5 class="m-0 customBold">
                        +371 2691 1413
                    </h5>
                </div>

                <div class="d-flex align-items-center my-3">
                    <div class="media-icon rounded-circle mr-3 d-flex align-items-center justify-content-center">
                        <img src="assets/imgs/icons/email.svg">
                    </div>
                    <h5 class="m-0 customBold">
                        info@votery.com
                    </h5>
                </div>

                <div class="d-flex align-items-center mt-3">
                    <div class="media-icon rounded-circle mr-3 d-flex align-items-center justify-content-center">
                        <img src="assets/imgs/icons/location.svg">
                    </div>
                    <h5 class="m-0 customBold">
                        EDS GLOBAL CONNECT LIMITED
                    </h5>
                </div>

                <div class="ml-5">
                    <h5 class="m-0">
                        Registration number: 603483 <br>
                        Coliemore House, Coliemore Road, Dalkey,<br>
                        Co., Dublin, A96A8D5, Ireland.
                    </h5>
                </div>

                <div class="ml-0 ml-md-5 py-4 d-flex align-items-center">
                    <div class="social-icon mx-2 d-flex align-items-center justify-content-center">
                        <img src="assets/imgs/icons/facebook.svg">
                    </div>

                    <div class="social-icon mx-2 d-flex align-items-center justify-content-center">
                        <img src="assets/imgs/icons/twitter.svg">
                    </div>

                    <div class="social-icon mx-2 d-flex align-items-center justify-content-center">
                        <img src="assets/imgs/icons/youtube.svg">
                    </div>

                    <div class="social-icon mx-2 d-flex align-items-center justify-content-center">
                        <img src="assets/imgs/icons/linkedin.svg">
                    </div>

                    <div class="social-icon mx-2 d-flex align-items-center justify-content-center">
                        <img src="assets/imgs/icons/instagram.svg">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-7">
                <h2>
                    Send us a message
                </h2>

                <div class="row my-2 my-md-3">
                    <div class="col-12 col-md-6 my-2 my-md-0">
                        <div class="requiredField">
                            <input type="email" class="form-control" placeholder="Your e-mail">
                        </div>
                    </div>
    
                    <div class="col-12 col-md-6 my-2 my-md-0">
                        <div class="requiredField">
                            <input type="email" class="form-control" placeholder="Your name">
                        </div>
                    </div>
                </div>

                <div class="row my-2 my-md-3">
                    <div class="col-12">
                        <div class="requiredField">
                            <textarea class="form-control" rows="6" placeholder="Your message"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row my-2 my-md-3">
                    <div class="col-12">
                        <a [routerLink]="['/']" class="blueBtn btn text-uppercase font-weight-bolder">
                            Send message
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row emails my-5">
            <div class="col-12 col-md-4 mb-4 mt-4 mt-md-0">
                <h5 class="mb-1 customBold">
                    Partnerships
                </h5>
                <p class="mb-1">
                    VOTERY platform and applications can be whitelabelled and integrated into any platform.
                </p>
                <p class="email mb-1">
                    partnerships@votery.com
                </p>
            </div>

            <div class="col-12 col-md-4 mb-4 mt-4 mt-md-0">
                <h5 class="mb-1 customBold">
                    Developers
                </h5>
                <p class="mb-1">
                    VOTERY platform is open for a 3rd party app development and adition to the app list. Contact
                    our technical support for the documentation access.
                </p>
                <p class="email mb-1">
                    dev@votery.com
                </p>
            </div>

            <div class="col-12 col-md-4 mb-4 mt-4 mt-md-0">
                <h5 class="mb-1 customBold">
                    Help & support
                </h5>
                <p class="mb-1">
                    In case of any other type of help, contact our support center.
                </p>
                <p class="email mb-1">
                    support@votery.com
                </p>
            </div>
        </div>
    </div>

    <div class="footer-dark-top-divider py-3">
        <img src="assets/imgs/dividers/footer-dark-top.svg" class="w-100">
    </div>
</div>