.contacts {
    h2 {
        font-size: 32px !important;
    }
    .customBold {
        font-weight: 450 !important;
    }
    .contacts-info {
        h5 {
            font-size: 18px !important;
        }
        .media-icon {
            border: 1px solid black;
            width: 32px;
            min-width: 32px;
            height: 32px;
            img {
                width: 12px;
                height: 12px;
            }
        }
        .social-icon {
            cursor: pointer;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            border: 1px solid black;
            padding: 12px;
            img {
                width: 16px;
                height: 16px;
            }
        }
        input {
            border-radius: 6px;
            height: 50px;
            font-size: 16px;
            border: 0;
            box-shadow: 3px 2px 12px 2px #b0b0b0;
            background-color: white;
            &::placeholder {
                font-size: 16px;
                color: rgba($color: #000000, $alpha: .5);
            }
        }
        textarea {
            border: none;
            box-shadow: 3px 2px 12px 2px #b0b0b0;
            border-radius: 6px;
            font-size: 16px;
            padding: 6px 12px;
            &::placeholder {
                font-size: 16px;
                color: rgba($color: #000000, $alpha: .5);
            }
        }
        a.blueBtn {
            background: linear-gradient( 180deg, #1264AD, #48C6C9);
            border-radius: 6px;
            font-size: 1.143em;
            box-shadow: 4px 4px 12px 4px #00000033;
        }
    }

    .emails {
        .email {
            color: #F8007A;
        }
    }

    .requiredField {
        position: relative;
        z-index: 0;
        &::before {
            content: " ";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #F8007A;
            top: 5px;
            right: 5px;
        }
    }

    .footer-dark-top-divider {
        position: relative;
        img {
            position: absolute;
            bottom: -1px;
        }
    }
}