<div class="modal-container my-4 my-md-5">
    <div class="modal-header">
        <div class="top-circle ml-3">
            <img src="assets/imgs/modal-top-circle.svg">
        </div>
        <h4 class="modal-title" id="modal-title"> </h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0 py-3 py-md-5">
        <h3 class="px-3 px-md-5 mb-3 d-flex align-items-center">
            <img src="assets/imgs/currencies/withdraw.svg" class="mr-2">
            Withdraw
        </h3>
        <div>
            <mat-tab-group animationDuration="0ms" [selectedIndex]="depositTabIndex" (selectedIndexChange)="selectChange($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="text-uppercase d-flex align-items-center justify-content-center">
                            <img [src]="depositTabIndex === 0 ? 'assets/imgs/currencies/VOC.svg' : 'assets/imgs/currencies/VOC-inactive.svg'">
                            <span class="font-weight-bold ml-2">
                                VOC 2.554
                            </span>
                        </div>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="deposit-body px-3 pl-md-5 pr-md-4 pt-5">
                            <div class="halfSection d-flex align-items-center justify-content-between">
                                <div>
                                    <span class="lightBold"> Your current balance </span>
                                    <h5 class="d-flex align-items-center lightBold">
                                        22.5006
                                        <img src="assets/imgs/footer-icons/vcoin.svg" class="mx-1">
                                        VOC
                                    </h5>
                                </div>
                                <div>
                                    <span class="lightBold"> Network type </span>
                                    <h5 class="d-flex align-items-center lightBold">
                                        XYZ-20
                                    </h5>
                                </div>
                            </div>

                            <h5 class="lightBold mb-1">
                                Your wallet address
                            </h5>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="requiredField w-100">
                                    <input type="text" class="form-control" placeholder="Enter your wallet address">
                                </div>
                                <img src="assets/imgs/deposit/QR.png" class="qrCode ml-2">
                            </div>

                            <h5 class="lightBold mt-4 mb-1">
                                Amount you wish to withdraw
                            </h5>
                            <div class="d-flex align-items-center">
                                <div class="requiredField">
                                    <input type="number" class="form-control" placeholder="Enter your aoumnt to withdraw" value="1.000">
                                </div>
                                <p class="m-0">
                                    <img src="assets/imgs/footer-icons/vcoin.svg" class="mx-2">
                                    <span> VOC </span>
                                </p>
                            </div>
                            <div class="my-2">
                                <span> Min. amount 1.000 VOC </span>
                            </div>

                            <h5 class="lightBold mt-4 mb-1">
                                Notes
                            </h5>
                            <div class="noteField d-flex align-items-center">
                                <div class="requiredField w-100">
                                    <input type="text" class="form-control" placeholder="Enter a note">
                                </div>
                            </div>

                            <div class="text-right">
                                <img src="assets/imgs/subtract/overlapped-subtract.svg">
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <img [src]="depositTabIndex === 1 ? 'assets/imgs/currencies/USDT.svg' : 'assets/imgs/currencies/USDT-inactive.svg'">
                        <span class="font-weight-bold ml-2">
                            USDT 0.982
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="deposit-body px-3 pl-md-5 pr-md-4 pt-5">
                            <div class="halfSection d-flex align-items-center justify-content-between">
                                <div>
                                    <span class="lightBold"> Your current balance </span>
                                    <h5 class="d-flex align-items-center lightBold">
                                        9.82
                                        <img src="assets/imgs/footer-icons/tcoin.svg" class="mx-1">
                                        USDT
                                    </h5>
                                </div>
                                <div>
                                    <span class="lightBold"> Network type </span>
                                    <h5 class="d-flex align-items-center lightBold">
                                        XYZ-20
                                    </h5>
                                </div>
                            </div>

                            <h5 class="lightBold mb-1">
                                Your wallet address
                            </h5>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="requiredField w-100">
                                    <input type="text" class="form-control" placeholder="Enter your wallet address">
                                </div>
                                <img src="assets/imgs/deposit/QR.png" class="qrCode ml-2">
                            </div>

                            <h5 class="lightBold mt-4 mb-1">
                                Amount you wish to withdraw
                            </h5>
                            <div class="d-flex align-items-center">
                                <div class="requiredField">
                                    <input type="number" class="form-control" placeholder="Enter your aoumnt to withdraw" value="1.000">
                                </div>
                                <p class="m-0">
                                    <img src="assets/imgs/footer-icons/tcoin.svg" class="mx-2">
                                    <span> USDT </span>
                                </p>
                            </div>
                            <div class="my-2">
                                <span> Min. amount 1.000 USDT </span>
                            </div>

                            <h5 class="lightBold mt-4 mb-1">
                                Notes
                            </h5>
                            <div class="noteField d-flex align-items-center">
                                <div class="requiredField w-100">
                                    <input type="text" class="form-control" placeholder="Enter a note">
                                </div>
                            </div>

                            <div class="text-right">
                                <img src="assets/imgs/subtract/overlapped-subtract.svg">
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="px-3 px-md-5 pt-4">
            <a class="blueBtn btn text-uppercase font-weight-bolder my-1 mr-0 mr-md-3" (click)="withdraw()">
                Withdraw
            </a>
        </div>
    </div>
    <div class="modal-footer p-0">
        <div class="bottom-circle m-0 w-100">
            <img src="assets/imgs/modal-bottom-circle.svg" class="mr-4">
        </div>
    </div>
</div>