<div class="wrapper">
    <div class="coin-header clear-filter" filter-color="gradient">
        <div class="container">
            <div class="d-flex justify-content-center justify-content-sm-start brand pt-5">
            </div>

            <div class="row" style="margin-top: 48px;">
                <div class="col-6 my-5">
                    <img src="assets/imgs/logos/voteryMark.svg" class="mb-3">
                    <h1 class="text-left">
                        What is <span class="highlightText">votery coin?</span>
                    </h1>

                    <h2 class="text-left">
                        Votery coin is the <span class="lightBold"> only payment method </span> to participate in Votery
                        platform applications.
                    </h2>
                </div>
            </div>

            <img src="assets/imgs/coin/headerRight.svg" class="headerRight d-none d-lg-block">
            <img src="assets/imgs/coin/headerRightTablet.svg" class="headerRight d-none d-sm-block d-lg-none">
            <img src="assets/imgs/coin/headerRightMobile.svg" class="headerRight d-block d-sm-none">
        </div>
    </div>

    <div class="main">
        <div class="application-top-divider divider"></div>
        <div class="application py-5">
            <div class="container mt-5">
                <div class="row topText">
                    <div class="col-12 col-lg-4 text-center text-sm-left">
                        <h3 class="orangeColor mb-0"> How will the price of Votery coin increase and how can I earn on
                            it? </h3>
                        <img src="assets/imgs/orange-subtract.svg" class="my-3">
                        <h5 class="mb-0">
                            In total, 1 billion Votery coins have been generated.
                        </h5>
                        <img src="assets/imgs/orange-subtract.svg" class="my-3">
                        <h5 class="mb-0">
                            The Votery platform will burn coins every day until the total number of coins remains at 100
                            million Votery coins.
                        </h5>
                    </div>
                </div>

                <div class="row d-none d-sm-block">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="voteryCoinImg">
                            <div class="d-flex align-items-center justify-content-center">
                                <img src="assets/imgs/coin/voteryCoinGreen.svg" class="coin">
                                <img src="assets/imgs/coin/greenCurve.svg" class="greenCurve">
                                <img src="assets/imgs/coin/pinkCurve.svg" class="pinkCurve">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-6 col-sm-4 text-left">
                        <img src="assets/imgs/coin/manyCoin.svg" class="manyCoin">
                    </div>
                    <div class="col-6 col-sm-4 text-left d-none d-sm-block">
                        <div class="verticalBorder w-50 h-100"></div>
                        <div class="liveData px-2 py-1"> Live Data </div>
                    </div>
                    <div class="col-6 col-sm-4 text-left d-flex justify-content-end">
                        <img src="assets/imgs/coin/oneCoin.svg" class="oneCoin">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-4 text-left">
                        <h3 class="coinAmount orangeColor m-0 my-2 d-flex align-items-center">
                            1,000,000,000
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize2 ml-2">
                        </h3>
                        <h4 class="m-0 my-2 d-flex align-items-center">
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize1 mr-2">
                            = 0.10 USDT
                        </h4>
                        <h5 class="text-left mt-3 smallWidth">
                            The starting price of Votery coin is 0.10 USDT, the price is pegged to USDT.
                        </h5>
                    </div>
                    <div class="col-6 col-sm-4 text-center d-none d-sm-block">
                        <h3 class="coinAmount orangeColor m-0 my-2 d-flex align-items-center justify-content-center">
                            561,442,388
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize2 ml-2">
                        </h3>
                        <h4 class="m-0 my-2 d-flex align-items-center justify-content-center">
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize1 mr-2">
                            = 12.5668 USDT
                        </h4>
                        <h5 class="text-center mt-3 d-flex align-items-center justify-content-center">
                            <span class="smallWidth">
                                Currently available Votery coins count and value per 1 Votery coin. Updated 12 seconds
                                ago.
                            </span>
                        </h5>
                    </div>
                    <div class="col-6 col-sm-4 text-right">
                        <h3 class="coinAmount orangeColor m-0 my-2 d-flex align-items-center justify-content-end">
                            100,000,000
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize2 ml-2">
                        </h3>
                        <h4 class="m-0 my-2 d-flex align-items-center justify-content-end">
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize1 mr-2">
                            = 50.00 USDT
                        </h4>
                        <h5 class="text-right mt-3 d-flex align-items-center justify-content-end">
                            <span class="smallWidth">
                                The goal is to reach 50.00 USDT value per 1 Votery coin.
                            </span>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="d-block d-sm-none">
                <img src="assets/imgs/coin/voteryCoinChainMobile.svg">
            </div>

            <div class="container d-block d-sm-none mt-3">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="w-50 text-center">
                            <span class="liveDataMobile px-2 py-1"> Live Data </span>
                            <h3
                                class="coinAmount orangeColor m-0 my-2 d-flex align-items-center justify-content-center">
                                561,442,388
                                <img src="assets/imgs/logos/voteryMark.svg" class="coinSize2 ml-2">
                            </h3>
                            <h4 class="m-0 my-2 d-flex align-items-center justify-content-center">
                                <img src="assets/imgs/logos/voteryMark.svg" class="coinSize1 mr-2">
                                = 12.5668 USDT
                            </h4>
                            <h5 class="text-center mt-3 d-flex align-items-center justify-content-center">
                                <span class="smallWidth">
                                    Currently available Votery coins count and value per 1 Votery coin. Updated 12
                                    seconds ago.
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bonus-gray-top-divider divider"></div>
        <div class="bonus">
            <div class="container py-0 py-md-5">
                <div class="row text-right">
                    <div class="col-12 col-sm-6 my-5 my-sm-4">
                        <div class="leftSection h-100 d-flex align-items-center">
                            <div>
                                <div class="title text-white text-uppercase px-2 py-1">
                                    Bonus
                                </div>
                                <h3 class="text-white text-center">
                                    Secure your Votery coins purchase now and get early-bird bonus!
                                </h3>
                                <p class="text-white text-center">
                                    The first 100 votery coins buyers will receive an additional 100% of the purchase Votery
                                    coins!
                                </p>
                                <div class="progress d-flex align-items-center justify-content-end mb-2">
                                    <div class="progress-bar" role="progressbar" [style]="'width:' + timerValue + '%;'"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-white text-center m-0">
                                    56 bonus seats left!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 my-4">
                        <div class="rightSection text-center text-sm-left">
                            <h2>
                                Buy Votery coins for 0.10 USDT and you will be able to sell it for 50 USDT.
                            </h2>
                            <div class="row">
                                <div class="col-12 col-lg-6 pr-3 pr-lg-1 mb-3">
                                    <div class="requiredField mb-2">
                                        <input type="email" class="form-control" placeholder="Your e-mail">
                                    </div>
                                    <div class="text-left">
                                        <span>
                                            Please enter a valid e-mail, as it will be required to verify your e-mail to
                                            proceed with the purchase.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 pl-3 pl-lg-1 mb-3">
                                    <div class="requiredField mb-2">
                                        <input type="email" class="form-control" placeholder="Coins countt">
                                    </div>
                                    <div class="text-left">
                                        <span>
                                            In order to earn a bonus, actual purchased coins count has to match this
                                            number.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a [routerLink]="['/']" class="btn text-uppercase font-weight-bolder">
                                        Secure purchase
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bonus-gray-bottom-divider divider"></div>

        <div class="article py-5">
            <div class="container py-0 py-sm-4 py-lg-5">
                <div class="row">
                    <div class="col-12">
                        <h2 class="orangeColor mt-4 mb-0 mb-sm-3"> How does it work? </h2>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h4> Basic principle of the burn </h4>
                        <h5>
                            Votery is the first crypto platform in the world to rightly burn coins depending on the
                            activity of the platform and not the will of the shareholders.
                        </h5>
                        <p>
                            Votery is a gaming application platform that uses Votery coins. The Votery platform
                            withholds 30% of all members' contributions. These contributions will be burned on a daily
                            basis and the platform will increase the value of the Votery coin for each burnt coin.
                            The more Votery platform applications are used, the faster the price of 1 Votery coin will
                            reach 50 USDT. As soon as the price of 1 Votery coin reaches 50 USDT, Votery coins will be
                            listed on public stock exchanges.
                            You can see the real-time market value of the Votery coin and the number of Votery coins
                            burned in the graph at the top of the page.
                        </p>

                        <h4 class="mt-5">
                            What is the Votery platform?
                        </h4>
                        <p>
                            World’s first platform of smart math multiplayer apps with instant cash profit!
                            Fair and simple. All VOTERY platform apps are based on simple yet smart math with 0 gambling
                            elements involved. Only Your brain matters! Real-time multiplayer, You vote against other
                            opponents just like you! There is no system or bot opponents. Fair game, win big, multiply
                            your winning with your opponent count. More people you beat, more cash you profit.
                            How does it work?
                            It is simple multiplayer math-based vote profit battle. Every Application winner instantly
                            wins real profit.
                        </p>

                        <h4 class="mt-5">
                            How can I buy Votery coins now?
                        </h4>
                        <p>
                            At the moment it is not possible to buy Votery coinus, the platform will not be completed,
                            but you can now apply by filling out the form below, indicating your e-mail and specifying
                            the quantity you want to buy as soon as the platform is ready, we will inform you by e-mail.
                            The first 100 applications will receive a 100% bonus on Votery tokens if you purchase the
                            specified quantity specified in the application.
                            500-50% bonus
                            1000-30% bonus.
                            Votery platform is scheduled to open 05.12.2021, don't be late, be the first!
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h4>
                            How can I buy and sell Votery coins until they are available on public exchanges?
                        </h4>
                        <p>
                            First, the Votery platform has an internal exchange where you can buy and sell Votery coins
                            for USDT by placing your application on the Votery exchange. Remember, Votery coins are the
                            basic payment method for the Votery platform, to play the games you will need your Votery
                            coins!
                            Secondly, the Votery platform is and will be ready to repurchase your Votery coin at face
                            value at any time (initial value when purchased directly from the platform). Votery coins
                            can be your Stable coins, as you can convert Votery coins to USDT at any time.
                            Third, when the face value of the Votery coin reaches USDT 50.00, Votery coins will be
                            placed on public Exchange platforms.
                        </p>
                        <h4 class="mt-5">
                            Will Votery coins be relevant and in demand in the market?
                        </h4>
                        <p>
                            The Votery platform is constantly developing new applications, or which user will find the
                            most suitable and interesting one to spend a nice time and make a real profit. Given that
                            the Votery platform is constantly evolving and the number of Votery coins will remain at
                            only 100 million, there is no doubt about the popularity and demand for Votery coins. You
                            will always be able to buy and sell Votery coins on Votery platform’s internal exchange
                            market.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-dark-top-divider">
            <img src="assets/imgs/dividers/footer-dark-top.svg" class="w-100">
        </div>

        <div class="footer-bottom">
            <div class="dark-container py-5">
                <div class="voteryCoin">
                    <img src="assets/img/icons/voteryCoinLarge.svg">
                </div>
                <div class="container py-5">
                    <div class="row col-12 d-flex justify-content-center my-0 my-sm-4 py-5">
                        <div class="row col-12 col-sm-5">
                            <h2 class="orangeColor text-center">
                                Votery platform is scheduled to open 05.12.2021, don't be late, be the first!
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="dark-bottom-divider">
                <img src="assets/imgs/bgs/footer-dark-bottom.svg" class="w-100">
            </div>
        
            <div class="payments bg-white py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-center mb-4 px-0">
                            <img src="assets/imgs/footer-icons/tcoin.svg" class="mx-3 my-2">
                            <img src="assets/imgs/footer-icons/vcoin.svg" class="mx-3 my-2">
                        </div>
        
                        <div class="col-12 d-flex align-items-center justify-content-center my-5">
                            <img src="assets/imgs/footer-icons/footer-subtract.svg">
                        </div>
        
                        <div class="col-12 mt-4">
                            <p class="text-center copyright">
                                Copyright © 2021 ESD GLOBALCOLLECT LIMITED
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>