<footer class="footer" data-background-color="black">
    <div class="container">
        <div class="row contact">
            <h2 class="col-12 d-flex align-items-center justify-content-center my-3 font-weight-bold my-3 my-sm-4">
                <span class="partBorder">Get i</span>n contact
            </h2>
            <div class="col-12 col-sm-6 my-3 text-right">
                <h4 class="font-weight-bold"> Address <i class="fa"></i> </h4>
                <h4 class="m-0"> ESD GLOBALCOLLECT LIMITED <i class="fa"><img src="assets/img/icons/earth.svg"></i> </h4>
                <h4 class="m-0"> Registration number 603483 <i class="fa"></i> </h4>
                <h4 class="m-0 d-none d-sm-block"> Coliemore House, Coliemore Road,Dalkey,Co. <i class="fa"><img src="assets/img/icons/location.svg"></i> </h4>
                <h4 class="m-0 d-block d-sm-none"> Coliemore House, Coliemore <i class="fa"><img src="assets/img/icons/location.svg"></i> </h4>
                <h4 class="m-0 d-block d-sm-none"> Road,Dalkey,Co. <i class="fa"></i> </h4>
                <h4 class="m-0"> Dublin,A96A8D5, Ireland. <i class="fa"></i> </h4>
                <h4 class="m-0"> info@goldenline.online <i class="fa"><img src="assets/img/icons/mail.svg"></i> </h4>
                <h4 class="m-0"> +371 26 91 14 13 <i class="fa"><img src="assets/img/icons/phone.svg"></i> </h4>

                <div class="social mt-3 float-right">
                    <a href="javascript: void()" routerLink="/" class="mx-2">
                        <img src="assets/img/icons/facebook.svg">
                    </a>
                    <a href="javascript: void()" routerLink="/" class="mx-2">
                        <img src="assets/img/icons/twitter.svg">
                    </a>
                    <a href="javascript: void()" routerLink="/" class="mx-2">
                        <img src="assets/img/icons/telegram.svg">
                    </a>
                    <a href="javascript: void()" routerLink="/" class="mx-2">
                        <img src="assets/img/icons/instagram.svg">
                    </a>
                    <a href="javascript: void()" routerLink="/" class="mx-2">
                        <img src="assets/img/icons/youtube.svg">
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 my-3">
                <h4 class="font-weight-bold"> Send a message </h4>
                <div class="form-group">
                    <input type="text" value="" placeholder="Enter name" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" value="" placeholder="Enter address" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea rows="3" placeholder="Enter message"></textarea>
                </div>
                <div class="submitBtn text-left">
                    <a [routerLink]="['/']" class="btn btn-primary btn-round btn-lg text-uppercase"> Submit </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row payment py-3 py-sm-5 bg-white text-dark">
            <div class="col-12 col-sm-6 py-3 text-right">
                <img src="assets/img/equiring logos/payment.svg">
            </div>
            <div class="col-12 col-sm-6 py-3 px-5 text-dark">
                <a href="javascript: void()" routerLink="/">
                    <h4 class="m-0 mb-2 font-weight-bold"> VOTING RESULTS </h4>
                </a>
                <a href="javascript: void()" routerLink="/">
                    <h4 class="m-0 mb-2 font-weight-bold"> NEWS </h4>
                </a>
                <a href="javascript: void()" routerLink="/">
                    <h4 class="m-0 mb-2 font-weight-bold"> ABOUT US, CONTACTS </h4>
                </a>
                <a href="javascript: void()" routerLink="/">
                    <h4 class="m-0 mb-2 font-weight-bold"> TERMS AND CONDITIONS </h4>
                </a>
                <a href="javascript: void()" routerLink="/">
                    <h4 class="m-0 mb-2 font-weight-bold"> PRIVACY POLICY </h4>
                </a>
                <a href="javascript: void()" routerLink="/">
                    <h4 class="m-0 mb-2 font-weight-bold"> HELP </h4>
                </a>
                <h4 class="m-0 mb-2"> COPYRIGHT© 2020 </h4>
            </div>
        </div>
    </div>
</footer>