.footer-top {
    background-color: #dedede;
    .media-icon {
        border: 1px solid black;
        width: 32px;
        min-width: 32px;
        height: 32px;
    }
    .social-icon {
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid black;
        padding: 12px;
        img {
            width: 16px;
            height: 16px;
        }
    }
    .email {
        color: #F8007A;
    }
}