.footer-top {
    background-color: #dedede;
    .footer-top-divider {
        background-color: #f2f2f2;
        height: 150px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-image: url(/assets/imgs/bgs/footer-grey-top.svg);
            top: 1;
            width: 100%;
            height: 100%;
        }
    }
    .media-icon {
        border: 1px solid #131313;
        width: 32px;
        min-width: 32px;
        height: 32px;
        img {
            width: 12px;
            height: 12px;
        }
    }
    .social-icon {
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid black;
        padding: 12px;
        img {
            width: 16px;
            height: 16px;
        }
    }
    .email {
        color: #F8007A;
    }
}

@media screen and (min-width: 1440px) {
    .footer-top-divider {
        height: calc(100vw * 150 / 1440) !important;
        &::before {
            background-size: cover;
        }
    }
}