<div class="wrapper">
    <div class="page-header clear-filter" filter-color="gradient">
        <div class="container">
            <div class="d-flex justify-content-center justify-content-sm-start brand pt-5">
            </div>
            
            <div class="phoneSection d-none d-sm-block">
                <img src="assets/img/header/phone.svg">
            </div>

            <div class="row" style="margin-top: 48px;">
                <div class="col-12 col-sm-6">
                    <h2 class="font-weight-bolder text-left">
                        Your personal power with online Votery platform
                    </h2>

                    <h4 class="text-left">
                        How is that possible? Jo Votery ir pirmā 
                        pasaulē platforma balsošanai, ar kuras palīdzību
                        Tu legālā un aizraujošā veidā vari iegūt līdzekļus.
                    </h4>

                    <div class="headerBtn text-left">
                        <a [routerLink]="['/']" class="btn btn-primary btn-round btn-lg"> Learn More </a>
                    </div>
                </div>
            </div>

            <div class="phoneSection d-block d-sm-none">
                <img src="assets/img/header/mobile.svg">
            </div>
        </div>
    </div>

    <div class="title text-white d-flex justify-content-center">
        <h2 class="mx-3 my-5 font-weight-bold">
            Choose Your voting platform
        </h2>
    </div>

    <div class="main container-fluid">
        <div class="row m-0 voting">
            <div class="rightTopNet d-none d-sm-block">
                <img src="assets/img/features section/right-pattern-features.svg">
            </div>
            <div class="leftBottomNet d-none d-sm-block">
                <img src="assets/img/features section/left-pattern-features.svg">
            </div>

            <div class="col-12 d-flex justify-content-center">
                <div class="topArrow d-flex align-items-center justify-content-center">
                    <img class="arrowIcon" src="assets/img/icons/down-arrow-large.svg">
                </div>
            </div>

            <div class="col-12 d-flex justify-content-center mb-4">
                <h4 class="text-center">
                    Mūsu balsošanas platformas ir gatavas lietošanai un pastāvīgi papildinās ar jaunām! <br>
                    Startē uz savu izvēlēto un sāc!
                </h4>
            </div>

            <div class="cardGroup col-12 d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                        <div class="card p-3 p-sm-5 d-flex align-items-center justify-content-between">
                            <div class="h-100 d-flex align-items-center">
                                <img src="assets/img/features section/CL-LOGO.svg">
                            </div>
                            <div class="cardBtn text-left">
                                <a [routerLink]="['/']" class="btn btn-primary btn-round btn-lg text-uppercase"> Lets Go! </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start">
                        <div class="card p-3 p-sm-5 d-flex align-items-center justify-content-between">
                            <div class="h-100 d-flex align-items-center">
                                <img src="assets/img/features section/GL-LOGO.svg">
                            </div>
                            <div class="cardBtn text-left">
                                <a [routerLink]="['/']" class="btn btn-primary btn-round btn-lg text-uppercase"> Lets Go! </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
                        <div class="card p-3 p-sm-5 d-flex align-items-center justify-content-between">
                            <div class="h-100 d-flex align-items-center">
                                <img class="smallImg" src="assets/img/features section/battleline-logo.svg">
                            </div>
                            <div class="cardBtn text-left">
                                <a [routerLink]="['/']" class="btn btn-primary colorGray btn-round btn-lg text-uppercase"> Comming Soon! </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start">
                        <div class="card p-3 p-sm-5 d-flex align-items-center justify-content-between">
                            <div class="h-100 d-flex align-items-center">
                                <img class="smallImg" src="assets/img/features section/cryptobattleline-logo.svg">
                            </div>
                            <div class="cardBtn text-left">
                                <a [routerLink]="['/']" class="btn btn-primary colorGray btn-round btn-lg text-uppercase"> Comming Soon! </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="power row">
            <div class="col-12 d-flex justify-content-center">
                <div class="bottomArrow d-flex align-items-center justify-content-center">
                    <img class="arrowIcon" src="assets/img/icons/down-arrow-large.svg">
                </div>
            </div>

            <div class="leftTopImg">
                <img src="assets/img/features section/bottom-pattern2.svg">
            </div>

            <div class="container text-white mb-5">
                <h2 class="mt-5 pt-5 font-weight-bold">
                    Your personal power <br class="d-none d-sm-block">
                    with online voting platform
                </h2>

                <h4 class="text-normal text-sm-justify">
                    How is that possible? Jo Votery ir pirmā pasaulē vieta priekš platformām balsošanai,
                    kura apkopo vairāku veidu balsošanas platformas ar kuru palīdzību Tu legālā un aizraujošā veidā
                    vari iegūt līdzekļus. Tas ir pavisam jauns veids finansu iegūšanai, nepaļaujoties uz veiksmi vai nejaušību.
                    Kā arī neatkarīgi no biržas un tirgus svārstībām, ekonimiskām un politiskām izmaiņām un visāda veida ierobežojumiem
                </h4>

                <h4 class="text-normal text-sm-justify">
                    Votery jau tagad iekļauj GoldenLine un CryptoLine platformas, kas nodrošina balsošanu par savām
                    ciparu kombinācijām pret citu pretinieku. Tas viss jums rada iespēju nopelnīt legālā un interesantā veidā
                    finanses. Tagad mūsu komanda jau izstrādā jaunas platformas jūsu izvēlei, prioritātēm un ērtībām un gaumei!
                </h4>
            </div>
        </div>

        <div class="partners row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="topArrow d-flex align-items-center justify-content-center">
                    <img class="arrowIcon" src="assets/img/icons/down-arrow-large.svg">
                </div>
            </div>

            <div class="container mt-5 d-flex">
                <div class="text-left" style="z-index: 1;">
                    <h2 class="font-weight-bold">
                        Sadarbība ar Votery tiem, kas meklē
                        paātrinājumu savam biznesam
                    </h2>
                    
                    <h4>
                        Mēs esam atvērti sadarbībai ar jebkurām kompānijām,
                        kuru platformas atbilst Votery sistēmas standartiem
                    </h4>
                    
                    <h4>
                        Mēs izskatīsim un analizēsim katru jūsu
                        piedāvājumu individuāli, ja sazināsieties ar mums.
                    </h4>
                </div>
                
                <img class="bottomImg text-right" src="assets/img/partners section/partnership-pattern.svg">
            </div>
        </div>
    </div>
</div>
