@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(../../fonts/raleway/Raleway-ExtraBold.ttf) format("truetype");
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(../../fonts/raleway/Raleway-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(../../fonts/raleway/Raleway-Heavy.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(../../fonts/raleway/Raleway-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(../../fonts/raleway/Raleway-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(../../fonts/raleway/Raleway-Light.ttf) format("truetype");
    font-weight: lighter;
    font-style: normal;
}