:root {
    $margin-base-vertical: 15px !default;
}

// scroll setting when open modal
.modal-open {
    padding-right: 0 !important;
    position: fixed;
    overflow-y: scroll;
}

// modal overlay opacity set
.modal-backdrop.show {
    opacity: 1;
}

// modal overlay background color set
.modal {
    .modal-dialog {
        .modal-content {
            background-color: transparent;
        }
    }
}

// modal large width
.modal-lg {
    max-width: 880px;
    width: 100%;
}

// modal custom width
.modal-custom-medium {
    .modal-dialog {
        max-width: 653px;
        width: 100%;
    }
}

.modal-custom-normal {
    .modal-dialog {
        max-width: 455px;
        width: 100%;
    }
}

/* Customize the label (the customCheckBox) */
label.customCheckBox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.143em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    /* On mouse-over, add a grey background color */
    &:hover {
        input ~ .checkmark {
            background-color: white;
        }
    }
    /* Hide the browser's default checkbox */
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        /* When the checkbox is checked, add a blue background */
        &:checked {
            ~ .checkmark {
                background: linear-gradient(180deg, #1264ad, #48c6c9);
                border: 0;
                /* Show the checkmark when checked */
                &::after {
                    display: block;
                }
            }
        }
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 6px;
        border: 1px solid gray;
        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 9px;
            height: 13px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.mat-body,
.mat-body-1,
.mat-typography {
    font-family: "FuturaPT" !important;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
div,
table {
    font-family: "FuturaPT" !important;
}

h1, .h1 {
    font-size: 3.4em !important;
    line-height: 1.15 !important;
    margin-bottom: 30px !important;
}
h2, .h2{
    font-size: 2.5em !important;
    margin-bottom: 30px !important;
}
h3, .h3{
    font-size: 1.825em !important;
    margin-bottom: 30px !important;
    line-height: 1.4em !important;
}
h4, .h4{
    font-size: 1.5em !important;
    line-height: 1.45em !important;
    margin-top: 30px !important;
    margin-bottom: 15px !important;

    & + .category,
    &.title + .category{
        margin-top: -10px !important;
    }
}
h5, .h5 {
    font-size: 1.3em !important;
    line-height: 1.4em !important;
    margin-bottom: 15px !important;
}
h6, .h6{
    font-size: 0.9em !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
p{
    line-height: 1.61em;
    font-size: 1.14em !important;
    .description &,
    &.description{
        font-size: 1.14em !important;
    }
}
