:root {
    width: calc(100%);
    --width: calc(100%);
}
.wrapper {
    background: #f5f5f5;
    .index-header {
        height: auto;
        max-height: fit-content;
        background: transparent;
        .brand {
            height: 140px;
            img {
                max-width: 140px;
            }
        }
        .headerBtn {
            margin: 60px 0 42px;
        }
        h1 {
            font-size: 56px;
            .pinkTxt {
                color: #f8097a;
            }
        }
        .phone {
            position: absolute;
            top: 64px;
            right: 0;
            z-index: 3;
            width: 600px;
            width: 40%;
        }
    }

    .main {
        background: transparent;
        .application-top-divider {
            &::before {
                background-image: url(/assets/imgs/bgs/white1-1.svg);
                bottom: 0;
            }
        }
        .application {
            background: white;
            h3 {
                font-size: 1.715em;
                color: #F8007A;
            }
            h5 {
                font-size: 1.143em;
            }
            a.btn {
                background: transparent;
                border-radius: 6px;
                font-size: 1.143em;
                border: 1px solid #222222;
            }
        }
        .application-bottom-divider {
            &::before {
                background-image: url(/assets/imgs/bgs/white1-2.svg);
                top: 0;
            }
        }

        .games {
            position: relative;
            min-height: calc(100vw * 805 / 1440 + 80px);
            &::before {
                position: absolute;
                content: "";
                background-image: url(/assets/imgs/bgs/games-section-bg.png);
                top: -124px;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;
            }
            p {
                font-size: 1.142em;
            }
        }

        .choose-application {
            .white-region {
                background-image: url(/assets/imgs/bgs/white-region.svg);
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                h4 {
                    color: #1264AD;
                }
            }
        }

        .faq-top-divider {
            &::before {
                background-image: url(/assets/imgs/bgs/faq-bg-top.svg);
                bottom: 0;
            }
        }
        .faq {
            background-color: white;
        }
        .faq-bottom-divider {
            background-color: #f2f2f2;
            &::before {
                background-image: url(/assets/imgs/bgs/faq-bg-bottom.svg);
                top: 0;
            }
        }

        .news {
            background-color: #f2f2f2;
            .news-row {
                :first-child img {
                    border-top-left-radius: 94px;
                }
                :last-child img {
                    border-bottom-right-radius: 94px;
                }
            }
        }
        .news-bottom-divider {
            background-color: #f2f2f2;
            &::before {
                background-image: url(/assets/imgs/bgs/footer-grey-top.svg);
                top: 0;
                height: 100% !important;
            }
        }
    }
    
    /** Global styles */
    a.blueBtn {
        background: linear-gradient( 180deg, #1264AD, #48C6C9);
        border-radius: 12px;
        font-size: 1.143em;
    }
    a.transBtn {
        background: transparent;
        border-radius: 12px;
        font-size: 1.143em;
        border: 1px solid #222222;
    }
    .divider {
        height: 150px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
        }
    }
}


@media screen and (min-width: 1440px) {
    .divider {
        &::before {
            background-size: cover;
            height: calc(100vw * 150 / 1440) !important;
        }
    }
    .games {
        &::before {
            background-size: cover;
        }
    }
}

@media screen and (max-width: 575px) {
    .wrapper {
        .index-header {
            .container {
                min-height: 100vh;
            }
            .brand {
                height: 30px;
            }
            .phone {
                position: relative;
                width: calc(100% + 30px);;
                left: -15px;
                top: 0;
                margin-bottom: 24px;
            }
        }
    }
}