:root {
    width: calc(100%);
    --width: calc(100%);
}
.wrapper {
    background: #f5f5f5;
    .index-header {
        height: auto;
        max-height: fit-content;
        background: transparent;
        .brand {
            height: 140px;
            img {
                max-width: 140px;
            }
        }
        .headerBtn {
            margin: 60px 0 42px;
        }
        h1 {
            font-size: 56px !important;
            line-height: 67.2px !important;
            font-weight: 450 !IMPORTANT;
            .pinkTxt {
                color: #f8097a;
            }
        }
        .phone {
            position: absolute;
            top: 82px;
            right: 0;
            z-index: 3;
            max-width: 600px;
            max-height: 860px;
        }
    }

    .main {
        background: transparent;
        .application-top-divider {
            &::before {
                background-image: url(/assets/imgs/bgs/white1-1.svg);
                bottom: 0;
            }
        }
        .application {
            background: white;
            h2 {
                font-size: 32px !important;
                line-height: 38.4px !important;
            }
            h3 {
                font-size: 1.715em;
                color: #F8007A;
            }
            h5 {
                font-size: 1.143em !important;
                font-weight: 400 !important;
                line-height: 19.2px !important;
            }
            a.btn {
                background: transparent;
                border-radius: 6px;
                font-size: 1.143em;
                border: 1px solid #222222;
            }
        }

        .games-gray-top-divider {
            &::before {
                background-image: url(/assets/imgs/bgs/games-gray-top.svg);
                bottom: 0;
            }
        }
        .games {
            background-color: #dedede;
            position: relative;
            .games-pic {
                position: absolute;
                left: 0;
                top: -249px;
                z-index: 5;
            }
            .textSection {
                z-index: 9;
                h2 {
                    font-size: 32px !important;
                }
            }
        }
        .games-gray-bottom-divider {
            &::before {
                background-image: url(/assets/imgs/bgs/games-gray-bottom.svg);
                top: 0;
            }
        }

        .choose-application {
            .white-region {
                background-image: url(/assets/imgs/bgs/white-region.svg);
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                h4 {
                    color: #1264AD;
                }
            }
            a.transBtn {
                border: 1px solid #a0a0a0;
                color: #a0a0a0 !important;
            }
        }

        .faq-top-divider {
            &::before {
                background-image: url(/assets/imgs/bgs/faq-bg-top.svg);
                bottom: 0;
            }
        }
        .faq {
            background-color: white;
            a.transBtn {
                font-size: 15px;
                font-weight: 600 !important;
                height: 39px;
                width: fit-content;
            }
        }
        .faq-bottom-divider {
            background-color: #f2f2f2;
            &::before {
                background-image: url(/assets/imgs/bgs/faq-bg-bottom.svg);
                top: 0;
            }
        }

        .news {
            background-color: #f2f2f2;
            .news-row {
                :first-child img {
                    border-top-left-radius: 94px;
                }
                :last-child img {
                    border-bottom-right-radius: 94px;
                }
            }
        }
        .news-bottom-divider {
            background-color: #f2f2f2;
            &::before {
                background-image: url(/assets/imgs/bgs/footer-grey-top.svg);
                top: 0;
                height: 100% !important;
            }
        }
    }
    
    /** Global styles */
    a.blueBtn {
        background: linear-gradient( 180deg, #1264AD, #48C6C9);
        border-radius: 6px;
        font-size: 1.143em;
        box-shadow: 4px 4px 12px 4px #00000033;
    }
    a.transBtn {
        background: transparent;
        border-radius: 6px;
        font-size: 1.143em;
        border: 1px solid #222222;
    }
    .divider {
        height: 150px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
        }
    }
}


@media screen and (min-width: 1440px) {
    .divider {
        &::before {
            background-size: cover;
            height: calc(100vw * 150 / 1440) !important;
        }
    }
}

@media screen and (max-width: 991px) {
    .wrapper {
        .index-header {
            .container {
                min-height: 100vh;
            }
            .brand {
                height: 30px;
            }
            .phone {
                position: relative;
                width: calc(100% + 30px);;
                left: -15px;
                top: 0;
                margin-bottom: 24px;
            }
        }
        .games {
            .games-pic {
                position: unset !important;
            }
        }
    }
}