<div class="wrapper">
    <div class="index-header clear-filter" filter-color="gradient">
        <div class="container">
            <div class="d-flex justify-content-center justify-content-sm-start brand pt-5">
            </div>

            <div class="row" style="margin-top: 48px;">
                <div class="col-12 col-md-8 col-xl-6 my-5">
                    <h1 class="text-left">
                        If you are smart - you will <span class="pinkTxt">win cash!</span>
                    </h1>

                    <h3 class="text-left">
                        World’s first platform of smart math multiplayer apps with instant cash prizes!
                    </h3>

                    <div class="headerBtn text-left">
                        <a [routerLink]="['/']"
                            class="blueBtn btn btn-lg text-uppercase font-weight-bolder d-flex justify-content-center d-md-inline mr-0 mr-md-3">
                            Choose a game
                        </a>
                        <a [routerLink]="['/']"
                            class="transBtn btn btn-lg text-uppercase font-weight-bolder text-dark d-flex justify-content-center d-md-inline">
                            How it works?
                        </a>
                    </div>
                </div>
            </div>

            <img src="assets/imgs/mobile.svg" class="phone">
        </div>
    </div>

    <div class="main">
        <div class="application-top-divider divider"></div>
        <div class="application py-5">
            <div class="container mt-5">
                <h2 class="text-center">
                    How does it work?
                </h2>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <h3 class="d-flex justify-content-center font-weight-bold mb-3"> Choose </h3>
                        <div class="d-flex justify-content-center">
                            <img src="assets/imgs/orange-subtract.svg">
                        </div>
                        <h5 class="text-center mt-3 px-5">
                            Check out our games and choose one that fits you the best!
                        </h5>
                    </div>
                    <div class="col-12 col-sm-4">
                        <h3 class="d-flex justify-content-center font-weight-bold mb-3"> Vote </h3>
                        <div class="d-flex justify-content-center">
                            <img src="assets/imgs/orange-subtract.svg">
                        </div>
                        <h5 class="text-center mt-3 px-5">
                            Buy a ticket and join in to a multiplayer math-based game cash battle!
                        </h5>
                    </div>
                    <div class="col-12 col-sm-4">
                        <h3 class="d-flex justify-content-center font-weight-bold mb-3"> Win </h3>
                        <div class="d-flex justify-content-center">
                            <img src="assets/imgs/orange-subtract.svg">
                        </div>
                        <h5 class="text-center mt-3 px-5">
                            Every game winner instantly wins real cash.
                        </h5>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-4">
                    <a [routerLink]="['/']" class="btn btn-primary btn-lg text-uppercase font-weight-bolder text-dark">
                        See our applications
                    </a>
                </div>
            </div>
        </div>

        <div class="games-gray-top-divider divider"></div>
        <div class="games">
            <div class="games-pic">
                <img src="assets/imgs/index/games-pic.svg">
            </div>
            <div class="container py-0 py-md-5">
                <div class="row text-right">
                    <div class="col-12 col-md-8"></div>
                    <div class="col-12 col-md-4 textSection">
                        <h2 class="mb-2">
                            Fair and simple
                        </h2>
                        <p class="mb-5">
                            All VOTERY platform apps are based on simple yet smart math. There is no gambling element
                            involved. Your brain matters!
                        </p>
                        <h2>
                            Real-time multiplayer
                        </h2>
                        <p class="mb-5">
                            You vote against other players just like you! There is no system or bot players. Fair game.
                        </p>
                        <h2 class="mb-2">
                            Win big
                        </h2>
                        <p>
                            Multiply your winnings with your opponent count. More people you beat, more cash you win.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="games-gray-bottom-divider divider"></div>

        <div class="choose-application">
            <div class="container">
                <h2 class="text-center">
                    Choose your application!
                </h2>
                <div class="row mb-3">
                    <div class="col-12 col-md-4 my-3 white-region">
                        <h4 class="text-center mb-0">
                            Golden line
                        </h4>
                        <div class="text-center">
                            <img src="assets/imgs/logos/golden-line-logo.svg">
                        </div>
                        <div class="d-flex justify-content-center">
                            <a [routerLink]="['/']"
                                class="blueBtn btn btn-primary btn-lg text-uppercase font-weight-bolder">
                                Play
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 my-3 white-region">
                        <h4 class="text-center mb-0">
                            Crypto line
                        </h4>
                        <div class="text-center">
                            <img src="assets/imgs/logos/crypto-line-logo.svg">
                        </div>
                        <div class="d-flex justify-content-center">
                            <a [routerLink]="['/']"
                                class="blueBtn btn btn-primary btn-lg text-uppercase font-weight-bolder">
                                Play
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 my-3">
                        <h4 class="text-center mb-0">
                            Battle line
                        </h4>
                        <div class="text-center">
                            <img src="assets/imgs/logos/battle-line-logo.svg">
                        </div>
                        <div class="d-flex justify-content-center">
                            <a [routerLink]="['/']"
                                class="transBtn btn btn-primary btn-lg text-uppercase font-weight-bolder text-dark">
                                Coming soon
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 my-3">
                        <h4 class="text-center mb-0">
                            Crypto Battle
                        </h4>
                        <div class="text-center">
                            <img src="assets/imgs/logos/crypto-battle-logo.svg">
                        </div>
                        <div class="d-flex justify-content-center">
                            <a [routerLink]="['/']"
                                class="transBtn btn btn-primary btn-lg text-uppercase font-weight-bolder text-dark">
                                Coming soon
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq-top-divider divider"></div>
        <div class="faq">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            Frequently Asked Questions
                        </h2>
                    </div>
                    <div class="col-12 col-md-4">
                        <h5 class="font-weight-normal">
                            Do I have to pay to vote?
                        </h5>
                        <p>
                            Not necessarily. You can play for free.
                            But keep in mind that for winning you will receive a cash prize only if you participate in
                            the
                            cash game.
                        </p>
                        <h5 class="font-weight-normal">
                            How high are stakes?
                        </h5>
                        <p>
                            The game ticket price starts as low as $1 per game. You can choose the game bet from the
                            offered
                            options.
                            There are also games for free.
                        </p>
                        <h5 class="font-weight-normal">
                            How can I win cash?
                        </h5>
                        <p>
                            Each game involves a certain number of participants, who each buy a ticket. Each game is won
                            by
                            one participant, who is paid the sum of the ticket contributions of all participants. VOTERY
                            retains the commission from the total amount of game tickets.
                        </p>
                    </div>

                    <div class="col-12 col-md-4">
                        <h5 class="font-weight-normal">
                            How can I withdraw my winnings?
                        </h5>
                        <p>
                            You can transfer your winnings to your bank account at any time as soon as it reaches the
                            minimum amount of $10.
                        </p>
                        <h5 class="font-weight-normal">
                            Do I have to know math to be competitive?
                        </h5>
                        <p>
                            To participate in the game you need to know arithmetic at the first class level. You must be
                            able to add and subtract two-digit integers. However, you can calculate possible next moves
                            and combinations of other players. How precisely and how deep, depends on the sharpness of
                            your mind!
                        </p>
                        <h5 class="font-weight-normal">
                            Is my money safe?
                        </h5>
                        <p>
                            Yes. Our system is secure, protected and we use both EU security requirements and qualified
                            payment partners.
                        </p>
                    </div>

                    <div class="col-12 col-md-4">
                        <h5 class="font-weight-normal">
                            Which game should I choose?
                        </h5>
                        <p>
                            All VOTERY games are based on one principle - a combination of numbers and voting for them.
                            Games differ in nuances. Explore the description of each game to make a choice!
                        </p>
                        <h5 class="font-weight-normal">
                            How long does it take to play one game?
                        </h5>
                        <p>
                            The game takes place in real time. One game lasts 20 minutes. You can join the game soon to
                            start or one already in progress. The game cannot be postponed or paused.
                        </p>
                        <h5 class="font-weight-normal">
                            Is it gambling?
                        </h5>
                        <p>
                            No. This is not gambling. There are no robotic algorithms, lucky numbers or any other random
                            principle. The result of the game is affected only by people who play against each other.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-end">
                        <a [routerLink]="['/']" class="transBtn btn text-uppercase font-weight-bolder text-dark d-flex align-items-center">
                            See more
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-bottom-divider divider"></div>

        <div class="news py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            Company news
                        </h2>
                    </div>
                </div>

                <div class="row news-row">
                    <div class="col-12 col-md-4">
                        <img src="assets/imgs/news1.png">
                        <h4>
                            How Bitcoin's vast energy use could burst its bubble
                        </h4>
                        <p>
                            President Biden's top economic adviser described Bitcoin as "an extremely inefficient way to
                            conduct transactions," saying "the amount of energy consumed in processing those
                            transactions is staggering".
                        </p>
                    </div>

                    <div class="col-12 col-md-4">
                        <img src="assets/imgs/news2.png">
                        <h4>
                            2020 pandemics or how the world changed
                        </h4>
                        <p>
                            Right now, no matter where you live in the world, the coronavirus (COVID-19) pandemic is
                            likely forcing changes to your everyday life. The same is true for businesses of all
                            stripes, who have had to adjust on the fly as restrictions are put into place to slow the
                            spread of the outbreak. In the process, much of the global economy has ground to a halt.
                        </p>
                    </div>

                    <div class="col-12 col-md-4">
                        <img src="assets/imgs/news3.png">
                        <h4>
                            5 Brain-Based Learning Strategies to Boost Learning, Retention, and Focus
                        </h4>
                        <p>
                            As defined by the Glossary of Education Reform, ”brain-based learning refers to teaching
                            methods, lesson designs, and school programs that are based on the latest scientific
                            research about how the brain learns, including such factors as cognitive development—how
                            students learn differently as they age, grow, and mature socially, emotionally, and
                            cognitively.”
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-right">
                        <a [routerLink]="['/']" class="transBtn btn text-uppercase font-weight-bolder text-dark">
                            See more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>