<div class="wrapper">
    <div class="page-header clear-filter" filter-color="gradient">
        <div class="container">
            <div class="d-flex justify-content-center justify-content-sm-start brand pt-5">
            </div>
            
            <div class="phoneSection d-none d-sm-block">
                <img src="assets/img/header/phone.svg">
            </div>

            <div class="row" style="margin-top: 48px;">
                <div class="col-12 col-sm-6">
                    <h2 class="font-weight-bolder text-left">
                        Your personal power with online Votery platform
                    </h2>

                    <h4 class="text-left">
                        How is that possible? Jo Votery ir pirmā 
                        pasaulē platforma balsošanai, ar kuras palīdzību
                        Tu legālā un aizraujošā veidā vari iegūt līdzekļus.
                    </h4>

                    <div class="headerBtn text-left">
                        <a [routerLink]="['/']" class="btn btn-primary btn-round btn-lg"> Learn More </a>
                    </div>
                </div>
            </div>

            <div class="phoneSection d-block d-sm-none">
                <img src="assets/img/header/mobile.svg">
            </div>
        </div>
    </div>

    <div class="title text-white d-flex justify-content-center">
        <h2 class="mx-3 my-5 font-weight-bold">
            Choose Your voting platform
        </h2>
    </div>
</div>
