.cookie {
    bottom: 18px;
    right: 18px;
    position: fixed;
    z-index: 9;
    background: #131313;
    border-radius: 12px;
    width: 642px;
    height: 108px;
    a.blueBtn {
        background: linear-gradient( 180deg, #1264AD, #48C6C9);
        border-radius: 6px;
        font-size: 1.143em;
    }
}

@media screen and (max-width: 575px) {
    .privacy {
        .round-btn {
            a {
                padding: 12px 12px;
                font-size: 12px;
                font-weight: bold;
                width: 140px;
            }
        }
    }
}