.dropdown-toggle::after {
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
}

.dropdown.avatar .dropdown-toggle::after {
    display: none;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand {
        img {
            height: 35px;
        }
    }
    .navbar-toggler {
        span.navbar-toggler-bar {
            background: black;
        }
    }
    .navbar-nav {
        li.nav-item {
            &:hover {
                .nav-link {
                    .subtract {
                        display: block;
                        border: 1px solid black;
                    }
                }
            }
            .nav-link {
                position: relative;
                .subtract {
                    display: none;
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 7px;
                    height: 7px;
                    border: 1px solid none;
                }
            }
            .dropdown.application {
                cursor: pointer;
                .dropdown-menu {
                    width: 1000px;
                    max-width: calc(100vw - 32px);
                    transform: translate3d(-50%, 29px, 0);
                    left: 50% !important;
                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                        top: -14px;
                        border-bottom: 1em solid;
                        border-right: 1em solid transparent;
                        border-left: 1em solid transparent;
                    }
                    a.blueBtn {
                        background: linear-gradient( 180deg, #1264AD, #48C6C9);
                        border-radius: 12px;
                        font-size: 1.143em;
                    }
                    a.transBtn {
                        background: transparent;
                        border-radius: 12px;
                        font-size: 1.143em;
                        border: 1px solid #a0a0a0;
                        color: #a0a0a0 !important;
                    }
                }
            }
            .dropdown {
                .dropdown-menu {
                    transform: translate3d(0, 29px, 0);
                    &::before {
                        top: -10px;
                        border-bottom: 1em solid;
                        border-right: 1em solid transparent;
                        border-left: 1em solid transparent;
                    }
                }
            }
        }
        li.nav-item.active {
            background: linear-gradient( 180deg, #1264AD, #48C6C9);
            .nav-link {
                .subtract {
                    display: block;
                    border: 1px solid white;
                }
            }
        }

        /**
            Payment balance and withdraw, deposit, user avatar header
        */
        .paymentSection {
            height: 54px;
            border-radius: 27px;
            background-color: #dedede;
            padding: 0 4px 0 24px;
            .dropdown.avatar {
                height: 48px;
                width: 48px;
                border-radius: 50%;
                background-color: white;
                .dropdown-toggle {
                    cursor: pointer;
                }
            }
        }
    }
}

.navbar a:not(.btn):not(.dropdown-item) {
    color: black;
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        &::before {
            background: white;
        }
        .navbar-nav {
            .nav-item {
                a,
                h3 {
                    color: black;
                }
                .dropdown {
                    .dropdown-menu {
                        height: auto;
                    }
                }
                &:hover {
                    .nav-link {
                        .subtract {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
    .navbar {
        .navbar-nav {
            .nav-item.active {
                .nav-link {
                    .subtract {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .navbar {
        .navbar-nav li {
            padding: 0;
            a {
                padding: 6px 0;
            }
        }
    }
}
