<div class="modal-container my-4 my-md-0">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-title"> </h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.close(false)">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="row m-0">
      <div class="col-12 col-md-6 p-3 p-md-5 login">
        <h3 class="m-0">
          Login
        </h3>
        <p>
          Welcome, our beloved user! <br>
          We’re glad to see you back!
        </p>

        <form [formGroup]="loginForm">
          <div class="form-row">

            <div class="col-12 my-2">
              <input type="text" class="form-control border custom" formControlName="email" placeholder="Your e-mail"
                [class.border-danger]="lf.email.invalid && (lf.email.dirty || lf.email.touched)"
                [class.border-success]="lf.email.valid && (lf.email.dirty || lf.email.touched)" required>
              <div *ngIf="lf.email.invalid && (lf.email.dirty || lf.email.touched)" class="help-block mt-1 text-danger">
                <div *ngIf="lf.email.errors.required">
                  <sup>*</sup>Email is required.
                </div>
                <div *ngIf="lf.email.errors.email">
                  <sup>*</sup>Email is invalid.
                </div>
              </div>
            </div>

            <div class="col-12 my-2">
              <div class="form-group">
                <div class="input-group border"
                  [class.border-danger]="lf.password.invalid && (lf.password.dirty || lf.password.touched)"
                  [class.border-success]="lf.password.valid && (lf.password.dirty || lf.password.touched)" required>
                  <input class="form-control" [type]="loginEye" formControlName="password">
                  <div class="input-group-addon px-2">
                    <a href="javascript: void(0)" (click)="toggleEye('login')">
                      <i *ngIf="loginEye === 'password'; else text" class="fa fa-eye-slash" aria-hidden="true"></i>
                      <ng-template #text>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </ng-template>
                    </a>
                  </div>
                </div>
              </div>
              <div *ngIf="lf.password.invalid && (lf.password.dirty || lf.password.touched)"
                class="help-block mt-1 text-danger">
                <div *ngIf="lf.password.errors.required">
                  <sup>*</sup>Password is required.
                </div>
                <div *ngIf="lf.password.errors.minlength">
                  <sup>*</sup>Password should be min lengh(8).
                </div>
              </div>
            </div>

            <div class="col-12 my-2">
              <a class="blueBtn btn btn-primary text-uppercase w-100" (click)="login()">
                Login
              </a>
            </div>

            <div class="col-12 my-2">
              <a class="forgot" (click)="forgot()">
                Forgot password
              </a>
            </div>
          </div>

          <div class="form-row mt-0 mt-md-5 pt-3 pt-md-5 pb-3">
            <div class="col-12 mt-3">
              <p>
                Or login with:
              </p>
            </div>
            <div class="col-12">
              <a href="javascript: void(0)" class="social-icon mx-2">
                <img src="assets/imgs/icons/facebook.svg">
              </a>

              <a href="javascript: void(0)" class="social-icon mx-2">
                <img src="assets/imgs/icons/linkedin.svg">
              </a>

              <a href="javascript: void(0)" class="social-icon mx-2">
                <img src="assets/imgs/icons/google.svg">
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-6 p-3 p-md-5 register text-light">
        <h3 class="m-0">
          Create account
        </h3>
        <p>
          In order to participate in VOTERY and win real cash, you have to create an account.
        </p>

        <form [formGroup]="registerForm">
          <div class="form-row">

            <div class="col-12 my-2">
              <input type="text" class="form-control border custom" formControlName="email" placeholder="Your e-mail"
                [class.border-danger]="lf.email.invalid && (lf.email.dirty || lf.email.touched)"
                [class.border-success]="lf.email.valid && (lf.email.dirty || lf.email.touched)" required>
              <div *ngIf="lf.email.invalid && (lf.email.dirty || lf.email.touched)" class="help-block mt-1 text-danger">
                <div *ngIf="lf.email.errors.required">
                  <sup>*</sup>Email is required.
                </div>
                <div *ngIf="lf.email.errors.email">
                  <sup>*</sup>Email is invalid.
                </div>
              </div>
            </div>

            <div class="col-12 my-2">
              <div class="form-group">
                <div class="input-group border"
                  [class.border-danger]="lf.password.invalid && (lf.password.dirty || lf.password.touched)"
                  [class.border-success]="lf.password.valid && (lf.password.dirty || lf.password.touched)" required>
                  <input class="form-control" [type]="registerEye" formControlName="password">
                  <div class="input-group-addon px-2">
                    <a href="javascript: void(0)" (click)="toggleEye('register')">
                      <i *ngIf="registerEye === 'password'; else text" class="fa fa-eye-slash" aria-hidden="true"></i>
                      <ng-template #text>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </ng-template>
                    </a>
                  </div>
                </div>
              </div>
              <div *ngIf="lf.password.invalid && (lf.password.dirty || lf.password.touched)"
                class="help-block mt-1 text-danger">
                <div *ngIf="lf.password.errors.required">
                  <sup>*</sup>Password is required.
                </div>
                <div *ngIf="lf.password.errors.minlength">
                  <sup>*</sup>Password should be min lengh(8).
                </div>
              </div>
            </div>

            <div class="col-12 my-2 agree d-flex align-items-center justify-content-start">
              <input type="checkbox" name="agree" id="agree" class="mr-2" formControlName="agree">
              <label for="agree" class="m-0">I agree to <a (click)="termsPricacy($event)">Terms of Use</a> and <a (click)="termsPricacy($event)">Privacy Policy</a></label>
            </div>

            <div class="col-12 my-2 twofa d-flex align-items-center justify-content-start">
              <input type="checkbox" name="twofa" id="twofa" class="mr-2" formControlName="twofa">
              <label for="twofa" class="m-0">Enable two factor authentication</label>
            </div>

            <div class="col-12 my-2">
              <a class="registerBtn btn btn-primary text-uppercase w-100">
                Register
              </a>
            </div>
          </div>

          <div class="form-row mt-3 mt-md-5 py-3">
            <div class="col-12">
              <p>
                Or login with:
              </p>
            </div>
            <div class="col-12">
              <a href="javascript: void(0)" class="social-icon mx-2">
                <img src="assets/imgs/icons/facebook-white.svg">
              </a>

              <a href="javascript: void(0)" class="social-icon mx-2">
                <img src="assets/imgs/icons/linkedin-white.svg">
              </a>

              <a href="javascript: void(0)" class="social-icon mx-2">
                <img src="assets/imgs/icons/google-white.svg">
              </a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>