<div class="wrapper">
    <div class="rewardHeaderMarginDiv"></div>
    <div class="main">
        <div class="application-top-divider divider"></div>

        <div class="application py-5">
            <div class="container mt-5">
                <div class="row topText">
                    <div class="col-12 col-lg-5 text-center text-sm-left">
                        <h1 class="lightBold mb-0">
                            Votery exchange
                        </h1>
                        <h2 class="mb-0">
                            Trade Votery Coins securely and instantly
                        </h2>
                    </div>
                </div>

                <div class="row d-none d-sm-block">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="voteryCoinImg">
                            <div class="d-flex align-items-center justify-content-center">
                                <img src="assets/imgs/coin/voteryCoinGreen.svg" class="coin">
                                <img src="assets/imgs/coin/greenCurve.svg" class="greenCurve">
                                <img src="assets/imgs/coin/pinkCurve.svg" class="pinkCurve">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-6 col-sm-4 text-left">
                        <img src="assets/imgs/coin/manyCoin.svg" class="manyCoin">
                    </div>
                    <div class="col-6 col-sm-4 text-left d-none d-sm-block">
                        <div class="verticalBorder w-50 h-100"></div>
                        <div class="liveData px-2 py-1"> Live Data </div>
                    </div>
                    <div class="col-6 col-sm-4 text-left d-flex justify-content-end">
                        <img src="assets/imgs/coin/oneCoin.svg" class="oneCoin">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-4 text-left">
                        <h3 class="coinAmount orangeColor m-0 my-2 d-flex align-items-center">
                            1,000,000,000
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize2 ml-2">
                        </h3>
                        <h4 class="m-0 my-2 d-flex align-items-center">
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize1 mr-2">
                            = 0.10 USDT
                        </h4>
                        <h5 class="text-left mt-3 smallWidth">
                            The starting price of Votery coin is 0.10 USDT, the price is pegged to USDT.
                        </h5>
                    </div>
                    <div class="col-6 col-sm-4 text-center d-none d-sm-block">
                        <h3 class="coinAmount orangeColor m-0 my-2 d-flex align-items-center justify-content-center">
                            561,442,388
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize2 ml-2">
                        </h3>
                        <h4 class="m-0 my-2 d-flex align-items-center justify-content-center">
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize1 mr-2">
                            = 12.5668 USDT
                        </h4>
                        <h5 class="text-center mt-3 d-flex align-items-center justify-content-center">
                            <span class="smallWidth">
                                Currently available Votery coins count and value per 1 Votery coin. Updated 12 seconds
                                ago.
                            </span>
                        </h5>
                    </div>
                    <div class="col-6 col-sm-4 text-right">
                        <h3 class="coinAmount orangeColor m-0 my-2 d-flex align-items-center justify-content-end">
                            100,000,000
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize2 ml-2">
                        </h3>
                        <h4 class="m-0 my-2 d-flex align-items-center justify-content-end">
                            <img src="assets/imgs/logos/voteryMark.svg" class="coinSize1 mr-2">
                            = 50.00 USDT
                        </h4>
                        <h5 class="text-right mt-3 d-flex align-items-center justify-content-end">
                            <span class="smallWidth">
                                The goal is to reach 50.00 USDT value per 1 Votery coin.
                            </span>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="d-block d-sm-none">
                <img src="assets/imgs/coin/voteryCoinChainMobile.svg">
            </div>

            <div class="container d-block d-sm-none mt-3">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="w-50 text-center">
                            <span class="liveDataMobile px-2 py-1"> Live Data </span>
                            <h3
                                class="coinAmount orangeColor m-0 my-2 d-flex align-items-center justify-content-center">
                                561,442,388
                                <img src="assets/imgs/logos/voteryMark.svg" class="coinSize2 ml-2">
                            </h3>
                            <h4 class="m-0 my-2 d-flex align-items-center justify-content-center">
                                <img src="assets/imgs/logos/voteryMark.svg" class="coinSize1 mr-2">
                                = 12.5668 USDT
                            </h4>
                            <h5 class="text-center mt-3 d-flex align-items-center justify-content-center">
                                <span class="smallWidth">
                                    Currently available Votery coins count and value per 1 Votery coin. Updated 12
                                    seconds ago.
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="application-bottom-divider divider"></div>

        <div class="exchange">
            <div class="container px-0 px-sm-3 px-lg-5 py-5">
                <div class="row mx-3 mx-lg-5 dialog">
                    <div class="col-12 col-sm-6 leftSection p-3">
                        <div class="top-circle ml-3">
                            <img src="assets/imgs/modal-black-subtract.svg">
                        </div>
                        <h2 class="orangeColor text-center mt-4 mb-3"> Instant exchange </h2>

                        <div class="d-flex align-items-center justify-content-center mt-4">
                            <a class="blueBtn btn btn-lg text-uppercase d-flex justify-content-center d-md-inline" (click)="buyVOC()">
                                Buy VOC
                            </a>
                            <span class="mx-3 grayColor"> or </span>
                            <a class="transBtn btn btn-lg text-uppercase text-dark d-flex justify-content-center d-md-inline" (click)="sellVOC()">
                                Sell VOC
                            </a>
                        </div>

                        <div class="text-center mt-2 mb-2">
                            <span class="grayColor"> Current exchange rate: </span>
                        </div>
                        <p class="d-flex align-items-center justify-content-center text-white my-2">
                            <span class=""> 1 </span>
                            <img src="assets/imgs/footer-icons/tcoin.svg" class="mx-1">
                            <span> USDT - 0.20 </span>
                            <img src="assets/imgs/footer-icons/vcoin.svg" class="mx-1">
                            <span> VOC </span>
                            <img src="assets/imgs/exchange/Info-icon.svg" class="mx-1">
                        </p>

                        <div class="row mt-4 d-flex align-items-center justify-content-center">
                            <div class="col-5 col-sm-4 p-0">
                                <input type="number" class="coinInput usdt" placeholder="Enter a value" value="1.000">
                            </div>
                            <div class="col-1 p-0 text-center">
                                <img src="assets/imgs/exchange/swapIcon.svg" class="cButton">
                            </div>
                            <div class="col-5 col-sm-4 p-0">
                                <input type="number" class="coinInput voc" placeholder="Enter a value" value="5.000">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 text-center">
                                <a class="orangeBtn btn text-uppercase font-weight-bolder">
                                    Exchange
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 rightSection px-3 pt-3">
                        <div class="top-circle ml-3">
                            <img src="assets/imgs/modal-top-circle.svg">
                        </div>
                        <h2 class="text-center mt-4 mb-3">
                            Current balance
                        </h2>
                        <div class="my-3 my-sm-4 my-lg-5 py-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-center mx-4">
                                    <img src="assets/imgs/exchange/lightBlueVOC.svg">
                                    <h3 class="text-center m-0">
                                        24,81
                                    </h3>
                                </div>
                                <div class="text-center mx-4">
                                    <img src="assets/imgs/exchange/lightBlueUSDT.svg">
                                    <h3 class="text-center m-0">
                                        0.004
                                    </h3>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center my-3">
                                <a class="btn depositBtn d-flex align-items-center" (click)="deposit()">
                                    <img src="assets/imgs/currencies/deposit.svg" class="mr-2">
                                    <p class="m-0 text-uppercase">
                                        Deposit
                                    </p>
                                </a>
                                <a class="btn withdrawBtn d-flex align-items-center" (click)="withdraw()">
                                    <img src="assets/imgs/currencies/withdraw.svg" class="mr-2">
                                    <p class="m-0 text-uppercase">
                                        Withdraw
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="text-right">
                            <img src="assets/imgs/modal-bottom-circle.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="orderTrading my-5 py-0 py-sm-3 py-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h2>
                            Limit order trading
                        </h2>
                        <h5>
                            Nam sagittis convallis arcu. Curabitur sapien ipsum, cursus vel commodo eu, tempus nec
                            magna. Suspendisse potenti. Cras lobortis enim tellus, in laoreet tellus eleifend.
                        </h5>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-6 mt-5 mt-sm-0 pr-3 pr-sm-4 buy">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="title m-0"> Buy VOC </h2>
                            <a class="blueBtn btn btn-lg text-uppercase d-flex justify-content-center d-md-inline" (click)="buyVOC()">
                                Buy VOC
                            </a>
                        </div>
                        <div class="text-right">
                            <span> Set your price to buy VOC for. </span>
                        </div>
                        <div class="listingCard mt-4 pt-3 pt-sm-4 pt-lg-5">
                            <div class="px-3 px-sm-4">
                                <h4 class="mt-0"> Your listings </h4>
                            </div>
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="amount"> Amount </th>
                                        <th scope="col" class="pricePerOne"> Price per 1 </th>
                                        <th scope="col" class="totalPrice"> Total price USDT </th>
                                        <th scope="col" class="endDate"> End date </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let buy of buyList">
                                        <td scope="row"> {{ buy.amount }} </td>
                                        <td> {{ buy.pricePerOne }} </td>
                                        <td> {{ buy.totalPrice }} </td>
                                        <td> {{ buy.endDate }} </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right px-3 px-sm-4">
                                <img src="assets/imgs/subtract/overlapped-subtract.svg">
                            </div>
                        </div>

                        <div class="actualListing mt-3 mt-sm-4 mt-lg-5">
                            <h4 class="mt-0 mb-2"> Actual listings </h4>
                            <h5>
                                Listings from users who want to sell their VOC
                            </h5>
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col" class="amount"> Amount </th>
                                        <th scope="col" class="pricePerOne"> Price per 1 </th>
                                        <th scope="col" class="totalPrice"> Total price USDT </th>
                                        <th scope="col" class="action text-right"> Your action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let buy of buyAllList">
                                        <td scope="row"> {{ buy.amount }} </td>
                                        <td> {{ buy.pricePerOne }} </td>
                                        <td> {{ buy.totalPrice }} </td>
                                        <td class="text-right">
                                            <a class="blueBtn btn btn-lg text-uppercase d-flex justify-content-center d-md-inline px-2 py-1" (click)="buy()">
                                                Buy
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mt-5 mt-sm-0 pl-3 pl-sm-4 sell">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="title m-0"> Sell VOC </h2>
                            <a class="orangeBtn btn btn-lg text-uppercase" (click)="sellVOC()">
                                Sell VOC
                            </a>
                        </div>
                        <div class="text-right">
                            <span> Set your price to sell your VOC for. </span>
                        </div>
                        <div class="listingCard mt-4 pt-3 pt-sm-4 pt-lg-5">
                            <div class="px-3 px-sm-4">
                                <h4 class="mt-0"> Your listings </h4>
                            </div>
                            <div *ngIf="sellList?.length > 0 ; else noSell;">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="amount"> Amount </th>
                                            <th scope="col" class="pricePerOne"> Price per 1 </th>
                                            <th scope="col" class="totalPrice"> Total price USDT </th>
                                            <th scope="col" class="endDate text-right"> End date </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let buy of buyList">
                                            <td scope="row"> {{ buy.amount }} </td>
                                            <td> {{ buy.pricePerOne }} </td>
                                            <td> {{ buy.totalPrice }} </td>
                                            <td> {{ buy.endDate }} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #noSell>
                                <div class="px-3 px-sm-4">
                                    <h5 class="m-0">
                                        You do not have any active Sale listing. <a class="cButton link"> Sell VOC </a>
                                    </h5>
                                </div>
                            </ng-template>
                            <div class="text-right px-3 px-sm-4">
                                <img src="assets/imgs/subtract/overlapped-subtract.svg">
                            </div>
                        </div>

                        <div class="actualListing mt-3 mt-sm-4 mt-lg-5">
                            <h4 class="mt-0 mb-2"> Actual listings </h4>
                            <h5>
                                Listings from users who want to buy VOC
                            </h5>
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col" class="amount"> Amount </th>
                                        <th scope="col" class="pricePerOne"> Price per 1 </th>
                                        <th scope="col" class="totalPrice"> Total price USDT </th>
                                        <th scope="col" class="action text-right"> Your action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let buy of sellAllList">
                                        <td scope="row"> {{ buy.amount }} </td>
                                        <td> {{ buy.pricePerOne }} </td>
                                        <td> {{ buy.totalPrice }} </td>
                                        <td class="text-right">
                                            <a class="orangeBtn btn btn-lg text-uppercase d-flex justify-content-center d-md-inline px-2 py-1" (click)="sell()">
                                                Sell
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="payments py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-center mb-4 px-0">
                            <img src="assets/imgs/footer-icons/tcoin.svg" class="mx-3 my-2">
                            <img src="assets/imgs/footer-icons/vcoin.svg" class="mx-3 my-2">
                        </div>

                        <div class="col-12 d-flex align-items-center justify-content-center my-5">
                            <img src="assets/imgs/footer-icons/footer-subtract.svg">
                        </div>

                        <div class="col-12 mt-4">
                            <p class="text-center copyright">
                                Copyright © 2021 ESD GLOBALCOLLECT LIMITED
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>