.modal-container {
    background-color: #f4f4f4;
    border-radius: 12px;
    position: relative;
    .modal-header {
        height: 0;
        padding: 0;
        button.close {
            position: absolute;
            right: -14px;
            top: -20px;
            z-index: 3;
            color: white;
            border-radius: 50%;
            border: 1px solid gray;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                color: gray;
            }
        }
    }
    .modal-body {
        p {
            font-size: 1.143em;
        }
        input {
            border-radius: 6px;
            height: 42px;
            font-size: 1.143em;
            border: 0;
            box-shadow: 3px 2px 12px 2px #b0b0b0;
            background-color: white;
            color: gray;
            width: 297px;
        }
        a.transBtn {
            background: transparent;
            border-radius: 6px;
            font-size: 1.143em;
            border: 1px solid #1264AD;
            color: #1264AD;
        }
    }
    .modal-footer {
        .bottom-circle {
            position: absolute;
            bottom: 0;
            right: 0;
            img {
                float: right;
            }
        }
    }
}

@media screen and (max-width: 928px) {
    .modal-container {
        width: calc(100% - 18px);
        .modal-header {
            button.close {
                width: 32px;
                height: 32px;
                position: relative;
                font-size: 32px;
                top: -22px;
                right: 24px;
                color: black;
                border: 2px solid black;
            }
        }
    }
}
