.footer-gap {
    height: 150px;
    position: relative;
    background-color: #f2f2f2;
    &::before {
        position: absolute;
        content: "";
        background-image: url(/assets/imgs/bgs/footer-grey-dark.svg);
        background-repeat: no-repeat;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .footer-gap {
        height: calc(100vw * 150 / 1440) !important;
        &::before {
            background-size: cover;
        }
    }
}