.profile-settings {
    background-color: #f2f2f2;
    .path {
        i {
            font-size: 6px;
        }
    }
    .user-avatar {
        width: 202px;
        height: 202px;
        cursor: pointer;
        border: 9px solid transparent;

        img.avatar {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .user-avatar.border-circle {
        border: 9px solid white;
    }
    form {
        input {
            border-radius: 6px;
            height: 42px;
            font-size: 1em;
            border: 0;
            box-shadow: 3px 2px 12px 2px #b0b0b0;
            background-color: white;
        }
        // input.invalid {
        //     border: 1px solid #fe7777;
        // }
        // input.valid {
        //     border: 1px solid green;
        // }
        select {
            border-radius: 6px;
            height: 42px;
            font-size: 1em;
            border: 0;
            box-shadow: 3px 2px 12px 2px #b0b0b0;
            background-color: white;
            option {
                font-size: 1.143em;
                color: black;
            }
            option[disabled] {
                color: gray;
            }
        }
        select.disable-text {
            color: gainsboro;
        }
        input.date {
            width: 10%;
        }
        input.month {
            width: 10%;
        }
        input.year {
            width: 15%;
        }
        a.blueBtn {
            background: linear-gradient( 180deg, #1264AD, #48C6C9);
            border-radius: 6px;
            font-size: 1.143em;
        }
        a.transBtn {
            background: transparent;
            border-radius: 6px;
            font-size: 1.143em;
            border: 1px solid #222222;
        }
        a.iconBtn {
            background-color: transparent;
            border: 0;
            font-size: 1.143em;
            &:hover {
                box-shadow: none;
                opacity: .8;
            }
        }
    }
}