<div class="news-article pt-2">
    <div class="coverImage">
        <img src="assets/imgs/news/news-article.png" class="w-100 mt-5 pt-4">
        <div class="coverTitle container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-white font-weight-bold mb-3 mb-md-4">
                        How Bitcoin's vast energy use could burst its bubble
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3 py-md-5">
        <div class="row">
            <div class="col-12 col-md-7">
                <p class="font-weight-bold text-justify">
                    President Biden's top economic adviser described Bitcoin as "an extremely inefficient way to conduct
                    transactions," saying "the amount of energy consumed in processing those transactions is
                    staggering".
                </p>

                <p class="text-justify">
                    Elon Musk is the latest.
                    His electric car company Tesla made a paper profit of more than $900m (£646m) after buying $1.5bn
                    (£1bn) -worth of the cryptocurrency in early February.
                    Its high profile support helped pushed the price of a single Bitcoin to more than $58,000.
                    But it isn't just the digital asset's price that has hit an all-time high. So has its energy
                    footprint.

                    And that's caused blowback for Mr Musk, as the scale of the currency's environmental impact becomes
                    clearer.

                    It also helped prompt a series of high profile critics to slate the digital currency this week,
                    including US Treasury Secretary Janet Yellen.

                    President Biden's top economic adviser described Bitcoin as "an extremely inefficient way to conduct
                    transactions," saying "the amount of energy consumed in processing those transactions is
                    staggering".
                </p>

                <h2>
                    Heading H2
                </h2>

                <p class="text-justify">
                    The swings in price volatility have regulators concerned about bitcoin’s recent adoption by major
                    institutional investors, which has seen the likes of Tesla, Square and MicroStrategy jump on the
                    bandwagon.

                    Banks have also begun to demonstrate interest in the cryptocurrency, as JPMorgan filed a proposal
                    for a cryptocurrency-exposure basket earlier this month. Goldman Sachs has relaunched its
                    cryptocurrency trading desk, with a plan to offer a bitcoin ETF and non-deliverable forwards.
                </p>

                <h3>
                    Heading H3
                </h3>

                <p class="text-justify">
                    The decline in price came as Reuters reported that Indian officials are weighing a ban on
                    cryptocurrencies, with penalties for mining or owning the digital assets under consideration.
                </p>

                <img src="assets/imgs/news/news-article-content.png" class="w-100 mb-3">

                <p class="text-justify">
                    The swings in price volatility have regulators concerned about bitcoin’s recent adoption by major
                    institutional investors, which has seen the likes of Tesla, Square and MicroStrategy jump on the
                    bandwagon.

                    Banks have also begun to demonstrate interest in the cryptocurrency, as JPMorgan filed a proposal
                    for a cryptocurrency-exposure basket earlier this month. Goldman Sachs has relaunched its
                    cryptocurrency trading desk, with a plan to offer a bitcoin ETF and non-deliverable forwards.
                </p>

                <h4>
                    Heading H4
                </h4>

                <p class="text-justify">
                    The swings in price volatility have regulators concerned about bitcoin’s recent adoption by major
                    institutional investors, which has seen the likes of Tesla, Square and MicroStrategy jump on the
                    bandwagon.

                    Banks have also begun to demonstrate interest in the cryptocurrency, as JPMorgan filed a proposal
                    for a cryptocurrency-exposure basket earlier this month. Goldman Sachs has relaunched its
                    cryptocurrency trading desk, with a plan to offer a bitcoin ETF and non-deliverable forwards.
                </p>
            </div>
            <div class="col-12 col-md-5 d-flex justify-content-end">
                <div class="row">
                    <div class="col-12 col-md-9">
                        <h4 class="mt-0 font-weight-bold">
                            Other news
                        </h4>
    
                        <img src="assets/imgs/news/news-article-list1.png" class="w-100">
                        <h5>
                            2020 pandemics or how the world changed
                        </h5>
    
                        <img src="assets/imgs/news/news-article-list2.png" class="w-100">
                        <h5>
                            2020 pandemics or how the world changed
                        </h5>
    
                        <img src="assets/imgs/news/news-article-list3.png" class="w-100">
                        <h5>
                            2020 pandemics or how the world changed
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>